<template>
  <div class="row mt-4">
    <div class="col-12">
      <transition name="fade" mode="out-in">
        <router-view :multi-nav="multiNav" />
      </transition>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      multiNav: [
        {
          name: "Branches",
          pageName: "branches",
        },
      ],
    };
  },
};
</script>
