<template>
  <div class="row">
    <div class="col-12">
      <card-form :title="title">
        <form-builder
          :set-param="setParam"
          :get-param="getParam"
          :field="fields"
        />
        <div class="row">
          <div class="col-12">
            <hr>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <v-button class="btn" background="#0FB0F8" @click="save">
                {{ "Save" }}
              </v-button>
            </div>
          </div>
        </div>
      </card-form>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import CardForm from '../../components/CardForm.vue'
import FormBuilder from '../../components/FormBuilder.vue'

export default {
  components: {
    CardForm,
    FormBuilder
  },

  metaInfo () {
    return { title: this.$t('Create_a_new_branch') }
  },

  data: function () {
    return {
      fields: [
        {
          key: 'image',
          label: 'Profile picture',
          type: 'image',
          require: false
        },
        {
          key: 'name',
          label: 'Name',
          type: 'text',
          required: true,
          col: 'col-12 col-lg-6'
        },
        {
          key: 'address',
          label: 'Address',
          type: 'text',
          required: false,
          col: 'col-12 col-lg-6'
        },
        {
          key: 'regno',
          label: 'Regno',
          type: 'text',
          required: true,
          col: 'col-12 col-lg-6'
        },
        {
          key: 'website',
          label: 'Website',
          type: 'text',
          required: true,
          col: 'col-12 col-lg-6'
        },
        {
          key: 'contact',
          label: 'Contact',
          type: 'phone',
          required: false,
          col: 'col-12 col-lg-6'
        },
        {
          key: 'config',
          label: 'Config',
          type: 'text',
          required: false,
          col: 'col-12 col-lg-6'
        }
      ],
      params: {}
    }
  },

  computed: {
    hasID () {
      return !isNaN(this.$route.params.id)
    },
    title () {
      if (!isNaN(this.$route.params.id)) {
        return 'Edit Branch'
      } else {
        return 'Create Branch'
      }
    }
  },

  async created () {
    if (!isNaN(this.$route.params.id)) {
      this.getData()
    }
  },

  methods: {
    async getData () {
      await axios.get(`/api/admin/branches/${this.$route.params.id}`).then(res => {
        this.params = {
          name: res.data.data.name,
          address: res.data.data.address,
          regno: res.data.data.regno,
          website: res.data.data.website,
          contact: res.data.data.contact,
          image: res.data.data.image,
          config: res.data.data.primary_config
        }
        console.log(this.params)
      }).catch(err => {
        console.log(err)
      })
    },

    async save () {
      if (!isNaN(this.$route.params.id)) {
        await axios.patch(`/api/admin/branches/${this.$route.params.id}`, this.params).then(res => {
          this.$router.go(-1)
        }).catch(err => {
          console.log(err)
        })
      } else {
        console.log(this.param)
        await axios.post('/api/admin/branches', this.params).then(res => {
          this.$router.go(-1)
        }).catch(err => {
          console.log(err)
        })
      }
    },

    setParam (field, value) {
      this.params[field] = value
    },

    getParam (field) {
      return this.params[field] ? this.params[field] : ''
    }
  }
}
</script>
