<template>
  <!-- TODO: Use localization key -->
  <div class="row">
    <div class="col-12">
      <card-page
        :multi-nav="multiNav"
      >
        <div class="row d-flex align-items-center">
          <div class="col-6">
            <h2 class="mb-0 fw-bold" style="color:#312675">
              Branches
            </h2>
          </div>
          <div class="col-6 ">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <router-link :to="{name:'branches.create'}">
                <v-button background="#0FB0F8">
                  Create
                </v-button>
              </router-link>
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-12">
            <data-table
              :fields="fields"
              :url="'/api/admin/branches/'"
              :refresh="refresh"
            >
              <template #action="action">
                <!-- <button class="btn btn-sm btn-pills btn-white" @click="editData(action)">
                  Edit
                </button> -->
                <v-button class="rounded-pill" small background="#0FB0F8" @click="editData(action)">
                  Edit
                </v-button>
                <v-button class="rounded-pill bg-danger" small @click="deleteData(action)">
                  Delete
                </v-button>
                <!-- <button class="btn btn-sm btn-pills btn-danger" @click="deleteData(action)">
                  Delete
                </button> -->
              </template>
            </data-table>

            <!-- datatable2 -->
            <div class="d-flex justify-content-between">
              <data-table2
                :fields="fields2"
                :url="'/api/admin/users/'"
                :refresh="refresh"
              >
                <template #action="action">
                  <v-button small background="#0FB0F8" @click="assignData(action)">
                    Assign
                  </v-button>
                </template>
              </data-table2>

              <data-table2
                :fields="fields2"
                :url="'/api/admin/users/'"
                :refresh="refresh"
              >
                <template #action="action">
                  <v-button small class="bg-danger" @click="assignData(action)">
                    Remove
                  </v-button>
                </template>
              </data-table2>
            </div>

          </div>
        </div>
      </card-page>
    </div>
  </div>
</template>

<script>
import CardPage from '../../components/CardPage.vue'
import DataTable from '../../components/DataTable.vue'
import axios from 'axios'

export default {
  metaInfo () {
    return { title: this.$t('Users') }
  },

  components: {
    CardPage,
    DataTable
  },

  props: {
    multiNav: {
      type: Array,
      default: () => []
    }
  },

  data () {
    return {
      fields: [
        {
          label: 'ID',
          key: 'id',
          sortable: true
        },
        {
          label: 'Name',
          key: 'name',
          sortable: true
        },
        {
          label: 'Address',
          key: 'address',
          sortable: true
        },
        {
          label: 'Regno',
          key: 'regno',
          sortable: true
        },
        {
          label: 'Website',
          key: 'website',
          sortable: true
        },
        {
          label: 'Contact',
          key: 'contact',
          sortable: true
        },
        {
          key: 'action',
          tdAttr: {
            style: 'width: 15%'
          }
        }
      ],
      fields2: [
        {
          label: 'Name',
          key: 'name',
          sortable: true
        },
        {
          key: 'action',
          tdAttr: {
            style: 'width: 20%'
          }
        }
      ],
      refresh: 0
    }
  },

  methods: {
    editData (data) {
      this.$router.push({ name: 'branches.update', params: { id: data.action.item.id } })
    },
    deleteData (data) {
      this.$swal({
        title: 'Are you sure to delete this data?',
        text: 'Once deleted, you will not be able to recover this data!',
        icon: 'warning',
        buttons: true,
        dangerMode: true
      })
        .then((willDelete) => {
          if (willDelete) {
            axios.delete(`/api/admin/branches/${data.action.item.id}`).then(e => {
              swal('Success delete data!', {
                icon: 'success'
              }).then(ok => {
                this.refresh += 1
              })
            })
          } else {
            swal('Cancelled!')
          }
        })
    },
    assignData(){

    }
  }
}
</script>
