<template>
  <!-- TODO: Use localization key -->
  <div class="row">
    <div class="col-12">
      <card-page
       title="Import Data Perusahaan"
       :isBack="true"
      >
        <div class="row d-flex align-items-center">
          <div class="col-12 col-lg-2">
            <h5 class="mb-0 fw-bold">
              Import File
            </h5>
          </div>
          <div class="col-12 col-lg-3">
            <input type="file" class="form-control" @change="uploadFormat">
          </div>
          <div class="col-12 col-lg-6 ">
            <div class="d-grid gap-2 d-md-flex">
              <button class="btn btn-rounded btn-warning" @click="downloadFormat()">
                Download Format Excel
              </button>
            </div>
          </div>
        </div>
        
      </card-page>
      <xlsx-read :file="file">
        <xlsx-json :sheet="'upload'">
          <template #default="{collection}">
              <table-import
                  :collection="collection"
              />
          </template>
        </xlsx-json>
      </xlsx-read> 
    </div>
  </div>
</template>

<script>
import CardPage from '../../components/CardPage.vue'
import { XlsxRead, XlsxJson } from "vue-xlsx"
// import TableImport from './TableImport.vue';
import XLSX from 'xlsx'
import axios from 'axios'
import TableImport from './TableImport.vue'

export default {
  metaInfo () {
    return { title: this.$t('Users') }
  },

  components: {
    CardPage,
    XlsxRead,
    XlsxJson,
    TableImport,
  },

  props: {
    multiNav: {
      type: Array,
      default: () => []
    }
  },

  data () {
    return {
     format: [
        {
          nama_perusahaan: 'nama_perusahaan',
          no_pendaftaran: 'no_pendaftaran ',
          petugas_pemeriksa: 'NIP Petugas',
          alamat: 'alamat',
          nama_pic: 'nama_pic',
          nohp_pic: 'nohp_pic',
          status:'Belum Patuh/Sudah Patuh/Mencicil/Tidak ada respon',
          jenis_ketidakpatuhan:'Tidak Ada/Piutang/PDSTK/PDSUPAH/PDSPROGRAM',
          nilai_ketidakpatuhan:'Nilai ketidakpatuhan',
        },
      ],
      refresh: 0,
      file:null
    }
  },

  methods: {
    downloadFormat(){
      var format = XLSX.utils.json_to_sheet(this.format) 

      var wb = XLSX.utils.book_new() 

      XLSX.utils.book_append_sheet(wb, format, 'upload') 


      XLSX.writeFile(wb, 'Format Input Perusahaan.xlsx') 
    },
    uploadFormat(event){
      this.file = event.target.files ? event.target.files[0] : null;
    },
  }
}
</script>
