<template>
  <!-- TODO: Use localization key -->
  <div class="row">
    <div class="col-12">
      <card-page

      >
        <div class="row d-flex align-items-center">
          <div class="col-12 col-lg-6">
            <h2 class="mb-0 fw-bold">
              Perusahaan
            </h2>
          </div>
          <div class="col-12 col-lg-6 mt-lg-0 mt-3">
            <div class="d-flex gap-2 d-md-flex justify-content-md-end">
              <button class="btn btn-rounded btn-primary" @click="exportExcel()">
                Export
              </button>
              <router-link :to="{name:'perusahaan.import'}">
                <button class="btn btn-rounded btn-primary">
                  Import
                </button>
              </router-link>

              <router-link :to="{name:'perusahaan.create'}">
                <button class="btn btn-rounded btn-primary">
                  Create
                </button>
              </router-link>

            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-12">
            <data-table
              :fields="fields"
              :url="'/api/perusahaan'"
              :refresh="refresh"
            >
              <template #action="action">
                <b-dropdown id="dropdown-1" text="Action" variant="white">
                  <template v-if="user.user.level == 2">
                    <b-dropdown-item  @click="riwayatTidaklanjut(action)">Tindak Lanjut</b-dropdown-item>
                  </template>
                  <template v-else>
                    <b-dropdown-item  @click="riwayatStatus(action)">Riwayat Status</b-dropdown-item>
                    <b-dropdown-item  @click="riwayatTidaklanjut(action)">Riwayat Tindak Lanjut</b-dropdown-item>
                    <b-dropdown-item  @click="editData(action)">Edit</b-dropdown-item>
                    <b-dropdown-item @click="deleteData(action)">Delete</b-dropdown-item>
                  </template>
                </b-dropdown>
              </template>
            </data-table>

          </div>
        </div>
      </card-page>
    </div>
  </div>
</template>

<script>
import CardPage from '../../components/CardPage.vue'
import DataTable from '../../components/DataTable.vue'
import XLSX from 'xlsx'
import axios from 'axios'
import { mapGetters } from 'vuex'

export default {
  metaInfo () {
    return { title: this.$t('Users') }
  },

  computed: {
    ...mapGetters({
      user: 'auth/user'
    })
  },

  components: {
    CardPage,
    DataTable
  },

  props: {
    multiNav: {
      type: Array,
      default: () => []
    }
  },

  data () {
    return {
      fields: [
         {
          label: 'No Pendaftaran',
          key: 'no_pendaftaran',
          sortable: true
        },
        {
          label: 'Nama',
          key: 'nama_perusahaan',
          sortable: true
        },

        {
          label: 'Status',
          key: 'status',
          sortable: true,
          formatter: (value, key, item) => {
            var color = ''
            if(value === 'Belum Patuh'){
              color = 'text-danger';
            }else if(value === 'Sudah Patuh'){
              color = 'text-success';
            }else if(value === 'Mencicil'){
              color = 'text-warning';
            }else if(value === 'Tidak ada respon'){
              color = 'text-danger';
            }
            return `<b class="${color}">${value}</b>`
          },
        },
        {
          label: 'Ketidakpatuhan',
          key: 'jenis_ketidakpatuhan',
          sortable: true
        },
        {
          label: 'Nilai Ketidakpatuhan',
          key: 'nilai_ketidakpatuhan',
          sortable: true
        },
        {
          key: 'action',
          tdAttr: {
            style: 'width: 15%'
          }
        }
      ],
      refresh: 0,
      loadingExport: false,
      dataexport:{
        triwulan1:[],
        triwulan2:[],
        triwulan3:[],
        triwulan4:[]
      }
    }
  },

  methods: {
     riwayatStatus(data) {
      this.$router.push({ name: 'perusahaan.status', params: { id: data.action.item.id } })
    },
    riwayatTidaklanjut(data) {
      this.$router.push({ name: 'perusahaan.tidak_lanjut', params: { id: data.action.item.id } })
    },
     editData (data) {
      this.$router.push({ name: 'perusahaan.update', params: { id: data.action.item.id } })
    },
    editData (data) {
      this.$router.push({ name: 'perusahaan.update', params: { id: data.action.item.id } })
    },
    deleteData (data) {
      this.$swal({
        title: 'Are you sure to delete this data?',
        text: 'Once deleted, you will not be able to recover this data!',
        icon: 'warning',
        buttons: true,
        dangerMode: true
      })
        .then((willDelete) => {
          if (willDelete) {
            axios.delete(`/api/perusahaan/${data.action.item.id}`).then(e => {
              swal('Success delete data!', {
                icon: 'success'
              }).then(ok => {
                this.refresh += 1
              })
            })
          } else {
            swal('Cancelled!')
          }
        })
    },
    exportExcel(){
      this.loadingExport = true
      axios.get('/api/perusahaan/export').then(e => {
        this.loadingExport =false
        console.log(e)
      })
      var sheet1 = XLSX.utils.json_to_sheet(this.dataexport.triwulan1)
      var sheet2 = XLSX.utils.json_to_sheet(this.dataexport.triwulan2)
      var sheet3 = XLSX.utils.json_to_sheet(this.dataexport.triwulan3)
      var sheet4 = XLSX.utils.json_to_sheet(this.dataexport.triwulan4)

      var wb = XLSX.utils.book_new()

      XLSX.utils.book_append_sheet(wb, sheet1, 'Triwulan 1')
      XLSX.utils.book_append_sheet(wb, sheet2, 'Triwulan 2')
      XLSX.utils.book_append_sheet(wb, sheet3, 'Triwulan 3')
      XLSX.utils.book_append_sheet(wb, sheet4, 'Triwulan 4')


      XLSX.writeFile(wb, 'Rekap Data Perusahaan.xlsx')
    }
  }
}
</script>
