<template>
    <div class="card">
        <form
            id="formdata"
            v-on:submit.prevent="send"
            enctype="multipart/form-data"
        >
        <div class="card-header">
            <div class="row align-items-center">
                <div class="col-6">
                    <h4 class="mb-0">Data Import</h4>
                </div>
                <div class="col-6">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                      <button class="btn btn-primary" :disabled="data.length == 0">Import</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row align-items-center">
                <div class="col-12 text-center" v-if="isLoading">
                    <div class="spinner-border text-white mt-5" role="status" style="width:3rem;height:3rem">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <div class="col-12 " v-else>
                    <h4 class="text-danger mb-0" v-if="data.length == 0">Data tidak ditemukan</h4>
                    <table class="table table-sm" v-else>
                        <thead>
                            <tr>
                                <th class="text-camelcase" v-for="key in data_key" :key="key">{{key.label}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(val) in data" v-bind:key="val.id">
                                <td v-for="key in data_key" :key="key">
                                  {{val[key.key]}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                   
                </div>
            
            </div>
        </div>
         </form>
    </div>
</template>

<script>

export default {
    props:['collection'],
    data() {
        return {
          isLoading: false,
          data:[],
          data_key:[],
          format: [
            {
                nama_perusahaan: 'nama_perusahaan',
                no_pendaftaran: 'no_pendaftaran ',
                petugas_pemeriksa: 'NIP Petugas',
                alamat: 'alamat',
                nama_pic: 'nama_pic',
                nohp_pic: 'nohp_pic',
                status:'Belum Patuh/Sudah Patuh/Mencicil/Tidak ada respon',
                jenis_ketidakpatuhan:'Tidak Ada/Piutang/PDSTK/PDSUPAH/PDSPROGRAM',
                nilai_ketidakpatuhan:'Nilai ketidakpatuhan',
            },
          ],
        };
    },
    components: {
    },
    watch: {
        collection:function(value){
            this.getData(value)
        }
    },
    mounted() {
      this.getFormat()
    },
    methods: {
      getFormat(){
        var that = this
        Object.keys(this.format[0]).forEach(function(key) {
          console.log(key)
          that.data_key.push({
            key: key,
            label: key.replace(/_/g, " ")
          })     
        });
      },
        getData(value){
          var that = this
          this.isLoading = true
          value.map((e,keys) => {
              that.data.push(e)
          })
          this.isLoading = false 
        },
        send() {
          console.log('send')
        },
    }
};
</script>
