<template>
  <div class="row">
    <div class="col-12">
      <form 
        id="formdata"
        v-on:submit.prevent="save"
        enctype="multipart/form-data"
      >
        <card-form :title="title">
          <div class="row">
            <div class="col-12">
              <div class="card bg-secondary text-white">
                <div class="card-body">
                  <div class="row">
                    <div class="col-6">
                      <div class="row">
                        <div class="col-5">
                          <p class="mb-0">Nama Perusahaan</p>
                        </div>
                        <div class="col-7">
                           <p class="mb-0"> : {{perusahaan.nama_perusahaan}}</p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-5">
                          <p class="mb-0">Nomor Pendaftaran</p>
                        </div>
                        <div class="col-7">
                           <p class="mb-0"> : {{perusahaan.no_pendaftaran}}</p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-5">
                          <p class="mb-0">Nama PIC</p>
                        </div>
                        <div class="col-7">
                           <p class="mb-0"> : {{perusahaan.nama_pic}}</p>
                        </div>
                      </div>
                       <div class="row">
                        <div class="col-5">
                          <p class="mb-0">Nomor PIC</p>
                        </div>
                        <div class="col-7">
                           <p class="mb-0"> : {{perusahaan.nohp_pic}}</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="row">
                        <div class="col-5">
                          <p class="mb-0">Jenis Ketidakpatuhan</p>
                        </div>
                        <div class="col-7">
                           <p class="mb-0"> : {{perusahaan.jenis_ketidakpatuhan}}</p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-5">
                          <p class="mb-0">Nilai Ketidakpatuhan</p>
                        </div>
                        <div class="col-7">
                           <p class="mb-0"> : {{perusahaan.nilai_ketidakpatuhan}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <form-builder
            :set-param="setParam"
            :get-param="getParam"
            :field="fields"
          />
          <input type="hidden" name="perusahaan_id" :value="perusahaan.id">
          <div class="row">
            <div class="col-12">
              <hr>
              <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <v-button class="btn" background="#0FB0F8" >
                  {{ "Save" }}
                </v-button>
              </div>
            </div>
          </div>
        </card-form>
      </form>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import CardForm from '../../components/CardForm.vue'
import FormBuilder from '../../components/FormBuilder.vue'
import { mapGetters } from 'vuex'

export default {
  components: {
    CardForm,
    FormBuilder
  },

  metaInfo () {
    return { title: 'Create Tindak Lanjut' }
  },

  data: function () {
   
    return {
      dataUser:[],
      fields: [
        {
          key: 'keterangan',
          label: 'Keterangan',
          type: 'textarea',
          required: true,
          col: 'col-12 col-lg-12'
        },
        {
          key: 'tanggal',
          label: 'Tanggal Tindak Lanjut',
          type: 'date',
          required: true,
          col: 'col-12 col-lg-6'
        },
        {
          key: 'berkas',
          label: 'Berkas',
          type: 'file',
          required: true,
          col: 'col-12 col-lg-6'
        },
      ],
      params: {},
      perusahaan: {
        id:null,
        nama_perusahaan: null,
        no_pendaftaran: null,
        nama_pic:null,
        nohp_pic: null,
        jenis_ketidakpatuhan: null,
        nilai_ketidakpatuhan: null
      }
    }
  },

  computed: {
    ...mapGetters({
      user: 'auth/user'
    }),
    hasID () {
      return !isNaN(this.$route.params.id)
    },
    title () {
      if (!isNaN(this.$route.params.id)) {
        return 'Edit Tindak Lanjut'
      } else {
        return 'Create Tindak Lanjut'
      }
    },
  },

  async created () {
    axios.get('/api/users/select').then(e => {
      this.fields[5].options = e.data
      console.log(this.dataUser)
    })
     if (!isNaN(this.$route.params.perusahaan_id)) {
      this.getDataPerusahaan()
    }
    if (!isNaN(this.$route.params.id)) {
      this.getData()
    }
    console.log(this.user)
    if(this.user.user.level == 3){
      this.params['petugas_pemeriksa'] = this.user.user.nip
      this.fields[5].hidden = true
    }
  },

  methods: {
    getUser() {
      return this.dataUser
    },

    async getDataPerusahaan () {
      await axios.get(`/api/perusahaan/${this.$route.params.perusahaan_id}`).then(res => {
        this.perusahaan = {
          id:res.data.data.id,
          nama_perusahaan: res.data.data.nama_perusahaan,
          alamat: res.data.data.alamat,
          no_pendaftaran: res.data.data.no_pendaftaran,
          alamat: res.data.data.alamat,
          nama_pic: res.data.data.nama_pic,
          nohp_pic: res.data.data.nohp_pic,
          status: res.data.data.status,
          jenis_ketidakpatuhan: res.data.data.jenis_ketidakpatuhan,
          nilai_ketidakpatuhan: res.data.data.nilai_ketidakpatuhan,
          petugas_pemeriksa: res.data.data.nip_user,
        }
      }).catch(err => {
        console.log(err)
      })
    },

    async getData () {
      await axios.get(`/api/perusahaan/${this.$route.params.id}`).then(res => {
        this.params = {
          nama_perusahaan: res.data.data.nama_perusahaan,
          alamat: res.data.data.alamat,
          no_pendaftaran: res.data.data.no_pendaftaran,
          alamat: res.data.data.alamat,
          nama_pic: res.data.data.nama_pic,
          nohp_pic: res.data.data.nohp_pic,
          status: res.data.data.status,
          jenis_ketidakpatuhan: res.data.data.jenis_ketidakpatuhan,
          nilai_ketidakpatuhan: res.data.data.nilai_ketidakpatuhan,
          petugas_pemeriksa: res.data.data.nip_user,
        }
        console.log(this.params)
      }).catch(err => {
        console.log(err)
      })
    },

    async save () {
      var formData = new FormData($("#formdata")[0]);
      if (!isNaN(this.$route.params.id)) {
        await axios.patch(`/api/perusahaan/datatindaklanjut/${this.$route.params.id}`, formData).then(res => {
          this.$router.go(-1)
        }).catch(err => {
          console.log(err)
        })
      } else {
        await axios.post('/api/perusahaan/datatindaklanjut', formData).then(res => {
          this.$router.go(-1)
        }).catch(err => {
          console.log(err)
        })
      }
    },

    setParam (field, value) {
      this.params[field] = value
    },

    getParam (field) {
      return this.params[field] ? this.params[field] : ''
    }
  }
}
</script>
