<template>
  <!-- TODO: Use localization key -->
  <div class="row">
    <div class="col-12">
      <card-page
       title="Riwayat Tindak Lanjut Perusahaan"
       :isBack="true"
      >
        <div class="row mt-4">
          <div class="col-12 text-right">
            <div class="d-flex gap-2 d-md-flex justify-content-md-end">
               <router-link :to="{name:'perusahaan.tambah_tindak_lanjut',params:{perusahaan_id:param.id}}">
                <button class="btn btn-rounded btn-primary">
                  Tambah Tindak Lanjut
                </button>
              </router-link>
            </div>
          </div>
          <div class="col-12">
            <data-table 
              :param="param"
              :fields="fields"
              :url="'/api/perusahaan/datatindaklanjut'"
              :refresh="refresh"
            >
            </data-table>
          </div>
        </div>
      </card-page>
    </div>
  </div>
</template>

<script>
import CardPage from '../../components/CardPage.vue'
import { XlsxRead, XlsxJson } from "vue-xlsx"
// import TableImport from './TableImport.vue';
import XLSX from 'xlsx'
import axios from 'axios'
import DataTable from '../../components/DataTable.vue'
import moment from 'moment'

export default {
  metaInfo () {
    return { title: this.$t('Users') }
  },

  components: {
    CardPage,
    XlsxRead,
    XlsxJson,
    DataTable
  },

  props: {
    multiNav: {
      type: Array,
      default: () => []
    }
  },

  data () {
    return {
      param:{
        id:this.$route.params.id,
        status:null,
        date:null
      },
     fields: [
        {
          label: 'Perusahaan',
          key: 'perusahaan.nama_perusahaan',
          sortable: true,
          tdAttr: {
            style: 'width: 20%'
          },
        },

         {
          label: 'Petugas Pemeriksa',
          key: 'user.name',
          tdAttr: {
            style: 'width: 5%'
          },
          sortable: true
        },
        {
          label: 'Tanggal',
          key: 'created_at',
          sortable: true,
          tdAttr: {
            style: 'width: 5%'
          },
          formatter: (value, key, item) => {
            return moment(value).format('YYYY-MM-DD')
          },
        },
        
        {
          label: 'Keterangan',
          key: 'keterangan',
          sortable: true,
          tdAttr: {
            style: 'width: 20%'
          },
          formatter: (value, key, item) => {
            return `<b >${value}</b>`
          },

        },

        {
          label: 'Berkas',
          key: 'berkas',
          sortable: true,
          tdAttr: {
            style: 'width: 5%'
          },
          formatter: (value, key, item) => {
            return `<a href="/berkas/${value}" target="_blank" class="btn btn-primary btn-sm">Lihat Berkas</a>`
          },

        },
        
      ],
      refresh: 0,
      dataexport:{
        triwulan1:[],
        triwulan2:[],
        triwulan3:[],
        triwulan4:[]
      }
    }
  },

  mounted(){
    if (!isNaN(this.$route.params.id)) {
    }
  },

  methods: {
    downloadFormat(){
      var format = XLSX.utils.json_to_sheet(this.format) 

      var wb = XLSX.utils.book_new() 

      XLSX.utils.book_append_sheet(wb, format, 'upload') 


      XLSX.writeFile(wb, 'Format Input Perusahaan.xlsx') 
    }
  }
}
</script>
