<template>
  <div class="row">
    <div class="col-12">
      <card-form :title="title" :submit="save">
        <form-builder
          :set-param="setParam"
          :get-param="getParam"
          :field="fields"
        />
        <div class="row" v-if="parseInt(params['level']) == 3">
          <div class="col-12 col-lg-6">
            <label>NIP</label>
            <input type="text" class="form-control" v-model="nip">
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <hr>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <button type="submit" class="btn btn-primary" >
                {{ "Save" }}
              </button>
            </div>
          </div>
        </div>
      </card-form>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import CardForm from '../../components/CardForm.vue'
import FormBuilder from '../../components/FormBuilder.vue'

export default {
  components: {
    CardForm,
    FormBuilder
  },

  metaInfo () {
    return { title: 'Create Perusahaan' }
  },

  data: function () {
    return {
      fields: [
        {
          key: 'name',
          label: 'Nama ',
          type: 'text',
          required: true,
          col: 'col-12 col-lg-6'
        },
        {
          key: 'email',
          label: 'Email',
          type: 'text',
          required: true,
          col: 'col-12 col-lg-6'
        },
        {
          key: 'password',
          label: 'Password',
          type: 'password',
          required: true,
          col: 'col-12 col-lg-6'
        },
        {
          key: 'level',
          label: 'Level',
          type: 'select2',
          options:[
            {
              id: 2,
              text: 'DISNAKER'
            },
            {
              id: 3,
              text: 'BPJAMSOSTEK'
            },
          ],
          required: true,
          col: 'col-12 col-lg-6'
        },
      ],
      params: {
        level:0
      },
      nip: null
    }
  },

  computed: {
    hasID () {
      return !isNaN(this.$route.params.id)
    },
    title () {
      if (!isNaN(this.$route.params.id)) {
        return 'Edit User'
      } else {
        return 'Create User'
      }
    },
  },

  async created () {
    if (!isNaN(this.$route.params.id)) {
      this.getData()
    }
  },

  methods: {
    async getData () {
      await axios.get(`/api/users/${this.$route.params.id}`).then(res => {
        this.params = {
          name: res.data.data.name,
          email: res.data.data.email,
          level: res.data.data.level,
          email: res.data.data.email,
        }
        this.nip = res.data.data.nip
      }).catch(err => {
        console.log(err)
      })
    },

    async save () {
      if (!isNaN(this.$route.params.id)) {
        await axios.patch(`/api/users/${this.$route.params.id}`, {...this.params,nip: this.nip}).then(res => {
          this.$router.go(-1)
        }).catch(err => {
          this.$swal(err.response.data.message, {icon: 'error'})
        })
      } else {
        await axios.post('/api/users', {...this.params,nip: this.nip}).then(res => {
          this.$router.go(-1)
        }).catch(err => {
          this.$swal(err.response.data.message, {icon: 'error'})
        })
      }
    },

    setParam (field, value) {
      this.params[field] = value
    },

    getParam (field) {
      return this.params[field] ? this.params[field] : ''
    }
  }
}
</script>
