<template>
  <!-- TODO: Use localization key -->
  <div class="row">
    <div class="col-12">
      <card-page
       title="Import Data Perusahaan"
       :isBack="true"
      >
        <div class="row d-flex align-items-center">
          <div class="col-12 col-lg-2">
            <h5 class="mb-0 fw-bold">
              Import File
            </h5>
          </div>
          <div class="col-12 col-lg-3">
            <input type="file" class="form-control">
          </div>
          <div class="col-12 col-lg-6 ">
            <div class="d-grid gap-2 d-md-flex">
              <button class="btn btn-rounded btn-primary" @click="exportExcel()">
                Import
              </button>
              <button class="btn btn-rounded btn-white" @click="exportExcel()">
                Download Format Excel
              </button>
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-12">
          </div>
        </div>
      </card-page>
    </div>
  </div>
</template>

<script>
import CardPage from '../../components/CardPage.vue'
import XLSX from 'xlsx'
import axios from 'axios'

export default {
  metaInfo () {
    return { title: this.$t('Users') }
  },

  components: {
    CardPage,
  },

  props: {
    multiNav: {
      type: Array,
      default: () => []
    }
  },

  data () {
    return {
      fields: [
         {
          label: 'No Pendaftaran',
          key: 'no_pendaftaran',
          sortable: true
        },
        {
          label: 'Nama',
          key: 'nama_perusahaan',
          sortable: true
        },
        {
          label: 'Status',
          key: 'status',
          sortable: true,
          formatter: (value, key, item) => {
            var color = ''
            if(value === 'Belum Patuh'){
              color = 'text-danger';
            }else if(value === 'Sudah Patuh'){
              color = 'text-success';
            }else if(value === 'Mencicil'){
              color = 'text-warning';
            }else if(value === 'Tidak ada respon'){
              color = 'text-danger';
            }
            return `<b class="${color}">${value}</b>`
          },
        },
        {
          key: 'action',
          tdAttr: {
            style: 'width: 15%'
          }
        }
      ],
      refresh: 0,
      dataexport:{
        triwulan1:[],
        triwulan2:[],
        triwulan3:[],
        triwulan4:[]
      }
    }
  },

  methods: {
    editData (data) {
      this.$router.push({ name: 'perusahaan.update', params: { id: data.action.item.id } })
    },
    deleteData (data) {
      this.$swal({
        title: 'Are you sure to delete this data?',
        text: 'Once deleted, you will not be able to recover this data!',
        icon: 'warning',
        buttons: true,
        dangerMode: true
      })
        .then((willDelete) => {
          if (willDelete) {
            axios.delete(`/api/perusahaan/${data.action.item.id}`).then(e => {
              swal('Success delete data!', {
                icon: 'success'
              }).then(ok => {
                this.refresh += 1
              })
            })
          } else {
            swal('Cancelled!')
          }
        })
    },
    exportExcel(){
      var sheet1 = XLSX.utils.json_to_sheet(this.dataexport.triwulan1) 
      var sheet2 = XLSX.utils.json_to_sheet(this.dataexport.triwulan2) 
      var sheet3 = XLSX.utils.json_to_sheet(this.dataexport.triwulan3) 
      var sheet4 = XLSX.utils.json_to_sheet(this.dataexport.triwulan4) 

      var wb = XLSX.utils.book_new() 

      XLSX.utils.book_append_sheet(wb, sheet1, 'Triwulan 1') 
      XLSX.utils.book_append_sheet(wb, sheet2, 'Triwulan 2')  
      XLSX.utils.book_append_sheet(wb, sheet3, 'Triwulan 3')  
      XLSX.utils.book_append_sheet(wb, sheet4, 'Triwulan 4')  


      XLSX.writeFile(wb, 'Rekap Data Perusahaan.xlsx') 
    }
  }
}
</script>
