<template>
  <!-- TODO: Use localization key -->
  <div class="row">
    <div class="col-12">
      <card-page
       
      >
        <div class="row d-flex align-items-center">
          <div class="col-12 col-lg-6">
            <h2 class="mb-0 fw-bold">
              User Dosen
            </h2>
          </div>
          <div class="col-12 col-lg-6 mt-lg-0 mt-3">
            <!-- <div class="d-flex gap-2 d-md-flex justify-content-md-end">
              <router-link :to="{name:'users.create'}">
                <button class="btn btn-rounded btn-primary">
                  Create
                </button>
              </router-link>
            </div> -->
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-12">
            <data-table
              :fields="fields"
              :url="'/api/users?status=mahasiswa'"
              :refresh="refresh"
            >
              <template #action="action">
                <b-dropdown id="dropdown-1" text="Action" variant="white">
                  <!-- <b-dropdown-item  @click="editData(action)">Edit</b-dropdown-item> -->
                  <b-dropdown-item @click="deleteData(action)">Delete</b-dropdown-item>
                </b-dropdown>
              </template>
            </data-table>

          </div>
        </div>
      </card-page>
    </div>
  </div>
</template>

<script>
import CardPage from '../../components/CardPage.vue'
import DataTable from '../../components/DataTable.vue'
import XLSX from 'xlsx'
import axios from 'axios'

export default {
  metaInfo () {
    return { title: this.$t('Users') }
  },

  components: {
    CardPage,
    DataTable
  },

  props: {
    multiNav: {
      type: Array,
      default: () => []
    }
  },

  data () {
    return {
      fields: [
         {
          label: 'Nama',
          key: 'name',
          sortable: true
        },
        {
          label: 'NIP',
          key: 'nik',
          sortable: true
        },
         {
          label: 'Email',
          key: 'email',
          sortable: true
        },
        {
          label: 'Status',
          key: 'is_verified',
          sortable: true,
          tdAttr: {
            style: 'width: 15%'
          },
          formatter: (value, key, item) => {
            var status = ''
            var classtype = ''
            if(value === 1){
              status = 'SUDAH TERVERIKASI';
              classtype = 'text-success'
            }else if(value === 0){
              status = 'BELUM TERVERIFIKASI';
              classtype = 'text-danger'
            }

            return `<b class="${classtype}">${status}</b>`
          },
        },
         {
          label: 'Action',
          key: 'action',
          sortable: true,
          tdAttr: {
            style: 'width: 10%'
          },
        },
      ],
      refresh: 0,
      loadingExport: false,
      dataexport:{
        triwulan1:[],
        triwulan2:[],
        triwulan3:[],
        triwulan4:[]
      }
    }
  },

  methods: {
    editData (data) {
      this.$router.push({ name: 'users.update', params: { id: data.action.item.id } })
    },
    deleteData (data) {
      this.$swal({
        title: 'Are you sure to delete this data?',
        text: 'Once deleted, you will not be able to recover this data!',
        icon: 'warning',
        buttons: true,
        dangerMode: true
      })
        .then((willDelete) => {
          if (willDelete) {
            axios.delete(`/api/users/${data.action.item.id}`).then(e => {
              this.$swal('Success delete data!', {
                icon: 'success'
              }).then(ok => {
                this.refresh += 1
              })
            })
          } else {
            this.$swal('Cancelled!')
          }
        })
    },
    exportExcel(){
      this.loadingExport = true
      axios.get('/api/users/export').then(e => {
        this.loadingExport =false
        console.log(e)
      })
      var sheet1 = XLSX.utils.json_to_sheet(this.dataexport.triwulan1) 
      var sheet2 = XLSX.utils.json_to_sheet(this.dataexport.triwulan2) 
      var sheet3 = XLSX.utils.json_to_sheet(this.dataexport.triwulan3) 
      var sheet4 = XLSX.utils.json_to_sheet(this.dataexport.triwulan4) 

      var wb = XLSX.utils.book_new() 

      XLSX.utils.book_append_sheet(wb, sheet1, 'Triwulan 1') 
      XLSX.utils.book_append_sheet(wb, sheet2, 'Triwulan 2')  
      XLSX.utils.book_append_sheet(wb, sheet3, 'Triwulan 3')  
      XLSX.utils.book_append_sheet(wb, sheet4, 'Triwulan 4')  


      XLSX.writeFile(wb, 'Rekap Data Perusahaan.xlsx') 
    }
  }
}
</script>
