// 
// user.scss
// Use this to write your custom SCSS
//
.custom-calendar.vc-container {
--day-border: 1px solid #b8c2cc;
--day-border-highlight: 1px solid #b8c2cc;
--day-width: 90px;
--day-height: 90px;
--weekday-bg: #f8fafc;
--weekday-border: 1px solid #eaeaea;
border-radius: 0;
width: 100%;
& .vc-header {
    background-color: #f1f5f8;
    padding: 10px 0;
}
& .vc-weeks {
    padding: 0;
}
& .vc-weekday {
    background-color: var(--weekday-bg);
    border-bottom: var(--weekday-border);
    border-top: var(--weekday-border);
    padding: 5px 0;
}
& .vc-day {
    overflow: auto;
    padding: 0 5px 3px 5px;
    text-align: left;
    height: var(--day-height);
    min-width: var(--day-width);
    background-color: white;
    &.weekday-1,
    &.weekday-7 {
    background-color: #eff8ff;
    }
    &:not(.on-bottom) {
    border-bottom: var(--day-border);
    &.weekday-1 {
        border-bottom: var(--day-border-highlight);
    }
    }
    &:not(.on-right) {
    border-right: var(--day-border);
    }
}
& .vc-day-dots {
    margin-bottom: 5px;
}
}