<template>
  <!-- TODO: Use localization key -->
  <div class="row">
    <div class="col-12">
      <card-page title="Riwayat Status Perusahaan" :isBack="true">
        <div class="row mt-4">
          <div class="col-12">
            <data-table
              :param="param"
              :fields="fields"
              :url="'/api/perusahaan/datastatus'"
              :refresh="refresh"
            >
            </data-table>
          </div>
        </div>
      </card-page>
    </div>
  </div>
</template>

<script>
import CardPage from "../../components/CardPage.vue";
import { XlsxRead, XlsxJson } from "vue-xlsx";
// import TableImport from './TableImport.vue';
import XLSX from "xlsx";
import axios from "axios";
import DataTable from "../../components/DataTable.vue";
import moment from "moment";

export default {
  metaInfo() {
    return { title: this.$t("Users") };
  },

  components: {
    CardPage,
    XlsxRead,
    XlsxJson,
    DataTable,
  },

  props: {
    multiNav: {
      type: Array,
      default: () => [],
    },
  },

  data() {
    return {
      param: {
        id: this.$route.params.id,
        status: null,
        date: null,
      },
      fields: [
        {
          label: "Perusahaan",
          key: "perusahaan.nama_perusahaan",
          sortable: true,
        },

        {
          label: "Petugas Pemeriksa",
          key: "user.name",
          sortable: true,
        },

        {
          label: "Status",
          key: "status",
          sortable: true,
          tdAttr: {
            style: "width: 15%",
          },
          formatter: (value, key, item) => {
            var color = "";
            if (value === "Belum Patuh") {
              color = "text-danger";
            } else if (value === "Sudah Patuh") {
              color = "text-success";
            } else if (value === "Mencicil") {
              color = "text-warning";
            } else if (value === "Tidak ada respon") {
              color = "text-danger";
            }
            return `<b class="${color}">${value}</b>`;
          },
        },
        {
          label: "Tanggal",
          key: "created_at",
          sortable: true,
          formatter: (value, key, item) => {
            return moment(value).format("YYYY-MM-DD");
          },
        },
      ],
      refresh: 0,
      dataexport: {
        triwulan1: [],
        triwulan2: [],
        triwulan3: [],
        triwulan4: [],
      },
    };
  },

  mounted() {
    if (!isNaN(this.$route.params.id)) {
    }
  },

  methods: {
    downloadFormat() {
      var format = XLSX.utils.json_to_sheet(this.format);

      var wb = XLSX.utils.book_new();

      XLSX.utils.book_append_sheet(wb, format, "upload");

      XLSX.writeFile(wb, "Format Input Perusahaan.xlsx");
    },
  },
};
</script>
