<template>
  <!-- TODO: Use localization key -->
  <div class="row">
    <div class="col-12">
      <card-page>
        <div class="row d-flex align-items-center">
          <div class="col-12 col-lg-6">
            <h2 class="mb-0 fw-bold">Order</h2>
          </div>
          <div class="col-12 col-lg-6 mt-lg-0 mt-3">
            <div class="d-flex gap-2 d-md-flex justify-content-md-end">
              <!-- <button
                class="btn btn-rounded btn-primary"
                @click="exportExcel()"
              >
                Export
              </button>
              <router-link :to="{ name: 'perusahaan.import' }">
                <button class="btn btn-rounded btn-primary">Import</button>
              </router-link>

              <router-link :to="{ name: 'perusahaan.create' }">
                <button class="btn btn-rounded btn-primary">Create</button>
              </router-link> -->
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-12">
            <data-table
              :fields="fields"
              :url="'/api/order'"
              :refresh="refresh"
            >
              <template #action="action">
                <b-dropdown id="dropdown-1" text="Action" variant="white">
                  <template v-if="action.action.item.status === 'confirmation'">
                    <b-dropdown-item @click="konfirmasiPembayaran(action)" data-bs-toggle="modal" data-bs-target="#modal-konfirmasi"
                      >Konfirmasi Pembayaran</b-dropdown-item
                    >
                  </template>
                  <template>
                    <b-dropdown-item @click="detailData(action)"
                      >Detail</b-dropdown-item
                    >
                    <b-dropdown-item @click="deleteData(action)"
                      >Delete</b-dropdown-item
                    >
                  </template>
                </b-dropdown>
              </template>
            </data-table>
          </div>
        </div>
      </card-page>
       <div class="modal" :key="'modal'"  :id="`modal-konfirmasi`" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title">Konfirmasi Pemesanan</h3>
            </div>
            <div class="modal-body text-start">
                <div class="row">
                    <div class="col-lg-12">
                      <div class="row align-items-center">
                          <div class="col-4 text-start">
                              <p class="mb-0 text-start font-weight-bold">Layanan</p>
                          </div>
                          <div class="col-8 text-start">
                              <p class="text-start mb-0">: {{detail.service}}</p>
                          </div>
                      </div>
                      <div class="row align-items-center mt-3">
                          <div class="col-4 text-start">
                              <p class="text-start mb-0 font-weight-bold">Nama Pemesan</p>
                          </div>
                          <div class="col-8 text-start">
                              <p class="text-start mb-0">: {{detail.name}}</p>
                          </div>
                      </div>

                       <div class="row align-items-center mt-3">
                          <div class="col-4 text-start">
                              <p class="text-start mb-0 font-weight-bold">Status</p>
                          </div>
                          <div class="col-8 text-start">
                              <select class="form-control" v-model="detail.status">
                                <option value="waiting">Proses Pembayaran</option>
                                <option value="cancel">Batal</option>
                              </select>
                          </div>
                      </div>
                      <template v-if="detail.status === 'waiting'">
                      <div class="row align-items-center mt-3">
                          <div class="col-4 text-start">
                              <p class="text-start mb-0 font-weight-bold">Total</p>
                          </div>
                          <div class="col-8 text-start">
                              <input class="form-control" type="number" v-model="detail.total">
                          </div>
                      </div>
                      <div class="row align-items-center mt-3">
                          <div class="col-4 text-start">
                              <p class="text-start mb-0 font-weight-bold">DP</p>
                          </div>
                          <div class="col-8 text-start">
                              <input class="form-control" type="number" v-model="detail.dp">
                          </div>
                      </div>
                      </template>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" @click="send" class="btn btn-primary" data-bs-dismiss="modal">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import CardPage from "../../components/CardPage.vue";
import DataTable from "../../components/DataTable.vue";
import XLSX from "xlsx";
import axios from "axios";
import { mapGetters } from "vuex";
import moment from 'moment';

export default {
  metaInfo() {
    return { title: this.$t("Order") };
  },

  computed: {
    ...mapGetters({
      user: "auth/user",
    }),
  },

  components: {
    CardPage,
    DataTable,
  },

  props: {
    multiNav: {
      type: Array,
      default: () => [],
    },
  },

  data() {
    return {
      detail:{
        id: null,
        total: 0,
        dp: 0,
        name: null,
        status: 'waiting',
        service: null
      },
      fields: [
        {
          label: "No Order",
          key: "order_number",
          sortable: true,
        },
        {
          label: "Tanggal",
          key: "created_at",
          sortable: true,
          formatter: (value, key, item) => {
            return moment(value).format('YYYY-MM-DD hh:mm');
          },
        },
        {
          label: "Jenis Order",
          key: "order_type",
          sortable: true,
          formatter: (value, key, item) => {
            return `<b class="text-uppercase">${value}</b>`;
          },
        },
         {
          label: "Jenis Servis",
          key: "service_type",
          sortable: true,
          formatter: (value, key, item) => {
            return `<b class="text-uppercase">${value}</b>`;
          },
        },
        {
          label: "Nama Pemesan",
          key: "name",
          sortable: true,
        },

        {
          label: "Status",
          key: "status",
          sortable: true,
          formatter: (value, key, item) => {
            var color = "";
            if (value === "waiting") {
              color = "text-warning";
            } else if (value === "success") {
              color = "text-success";
            } else if (value === "expired") {
              color = "text-danger";
            } else if (value === "confirmation") {
              color = "text-info";
            }else{
              color = "text-danger"
            }
            return `<b class="${color} text-uppercase">${value}</b>`;
          },
        },
        {
          label: "Total",
          key: "total",
          tdAttr: {
            style: "width: 15%",
          },
          sortable: true,
          formatter: (value, key, item) => {
            return `Rp. ${value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")}`;
          },
        },
        {
          label: "Action",
          key: "action",
          tdAttr: {
            style: "width: 15%",
          },
        },
      ],
      refresh: 0,
      loadingExport: false,
      dataexport: {
        triwulan1: [],
        triwulan2: [],
        triwulan3: [],
        triwulan4: [],
      },
    };
  },

  methods: {
    konfirmasiPembayaran(data){
      this.detail = {
        ...this.detail,
        name: data.action.item.name,
        service: data.action.item.service_type,
        id: data.action.item.id
      }
    },
    riwayatStatus(data) {
      this.$router.push({
        name: "perusahaan.status",
        params: { id: data.action.item.id },
      });
    },
    riwayatTidaklanjut(data) {
      this.$router.push({
        name: "perusahaan.tidak_lanjut",
        params: { id: data.action.item.id },
      });
    },
    editData(data) {
      this.$router.push({
        name: "perusahaan.update",
        params: { id: data.action.item.id },
      });
    },
    deleteData(data) {
      this.$swal({
        title: "Are you sure to delete this data?",
        text: "Once deleted, you will not be able to recover this data!",
        icon: "warning",
        buttons: true,
        dangerMode: true,
      }).then((willDelete) => {
        if (willDelete) {
          axios.delete(`/api/perusahaan/${data.action.item.id}`).then((e) => {
            swal("Success delete data!", {
              icon: "success",
            }).then((ok) => {
              this.refresh += 1;
            });
          });
        } else {
          swal("Cancelled!");
        }
      });
    },
    exportExcel() {
      this.loadingExport = true;
      axios.get("/api/perusahaan/export").then((e) => {
        this.loadingExport = false;
        console.log(e);
      });
      var sheet1 = XLSX.utils.json_to_sheet(this.dataexport.triwulan1);
      var sheet2 = XLSX.utils.json_to_sheet(this.dataexport.triwulan2);
      var sheet3 = XLSX.utils.json_to_sheet(this.dataexport.triwulan3);
      var sheet4 = XLSX.utils.json_to_sheet(this.dataexport.triwulan4);

      var wb = XLSX.utils.book_new();

      XLSX.utils.book_append_sheet(wb, sheet1, "Triwulan 1");
      XLSX.utils.book_append_sheet(wb, sheet2, "Triwulan 2");
      XLSX.utils.book_append_sheet(wb, sheet3, "Triwulan 3");
      XLSX.utils.book_append_sheet(wb, sheet4, "Triwulan 4");

      XLSX.writeFile(wb, "Rekap Data Perusahaan.xlsx");
    },
    send(){
      axios.post(`/api/order/updategedung/${this.detail.id}`,this.detail).then((e) => {
        swal("Success update data!", {
          icon: "success",
        }).then((ok) => {
          this.refresh += 1;
        });
      });
    }
  },

};
</script>
