<template>
  <div class="row pt-4">
    <div class="col-lg-12">
      <card>
       Selamat Datang di UIN SUKA APP !
      </card>
    </div>

  </div>
</template>

<script>
import ReportCard from "../components/ReportCard.vue"

// import axios from 'axios'
export default
  {
  middleware: 'auth',
  components: { ReportCard },
  // async asyncData () {
  //   const { data: projects } = await axios.get('/api/projects')

  //   return {
  //     projects
  //   }
  // },

  metaInfo () {
    return { title: this.$t('home') }
  }
}
</script>
