<template>
  <div class="row">
    <div class="col-12">
      <card-page>
        <div class="row d-flex align-items-center mb-4">
          <div class="col-12 col-lg-12">
            <h2 class="mb-0 fw-bold">
              Account
            </h2>
          </div>
        </div>
        <form-builder
          :set-param="setParam"
          :get-param="getParam"
          :field="fields"
        />
        <div class="row" v-if="parseInt(params['level']) == 3">
          <div class="col-12 col-lg-6">
            <label>NIP</label>
            <input type="text" class="form-control" v-model="nip">
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <hr>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <v-button class="btn" background="#0FB0F8" @click="save">
                {{ "Save" }}
              </v-button>
            </div>
          </div>
        </div>
      </card-page>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import CardForm from '../../components/CardForm.vue'
import FormBuilder from '../../components/FormBuilder.vue'
import CardPage from '../../components/CardPage.vue'

export default {
  components: {
    CardForm,
    FormBuilder,
    CardPage
  },

  metaInfo () {
    return { title: 'Create Perusahaan' }
  },

  data: function () {
    return {
      fields: [
        {
          key: 'name',
          label: 'Nama ',
          type: 'text',
          required: true,
          col: 'col-12 col-lg-6'
        },
        {
          key: 'email',
          label: 'Email',
          type: 'text',
          required: true,
          col: 'col-12 col-lg-6'
        },
        {
          key: 'password',
          label: 'Password',
          type: 'password',
          required: false,
          col: 'col-12 col-lg-6'
        },
      ],
      params: {
        level:0
      },
      nip: null,
      id: null
    }
  },

  computed: {
    hasID () {
      return !isNaN(this.$route.params.id)
    },
    title () {
      if (!isNaN(this.$route.params.id)) {
        return 'Edit User'
      } else {
        return 'Create User'
      }
    },
  },

  async created () {
    this.getData()
  },

  methods: {
    async getData () {
      await axios.get(`/api/users/current`).then(res => {
        this.params = {
          name: res.data.data.name,
          email: res.data.data.email,
          level: res.data.data.level,
          email: res.data.data.email,
        }
        this.nip = res.data.data.nip
        this.id = res.data.data.id

      }).catch(err => {
        console.log(err)
      })
    },

    async save () {
       await axios.patch(`/api/users/${this.id}`, {...this.params,nip: this.nip}).then(res => {
        console.log()
      }).catch(err => {
        console.log(err)
      })
    },

    setParam (field, value) {
      console.log(field,value)
      this.params[field] = value
      console.log(this.params['level'])
    },

    getParam (field) {
      return this.params[field] ? this.params[field] : ''
    }
  }
}
</script>
