<template>
    <div :is="iconComponent" role="img" :style="{color}" :size="setSize">
    </div>
</template>

<script>
// const icons = {
//     home: require('/icons/homeIcons.vue').default,
//     user: require('./icons/userIcon.vue').default,
//     search: require('./icons/searchIcon.vue').default,
//     login: require('./icons/loginIcon.vue').default,
//     logout: require('./icons/logoutIcon.vue').default,
//     facebook: require('./icons/facebookIcon.vue').default,
//     twitter: require('./icons/twitterIcon.vue').default
// }

const iconSize = {
    sm: '24px',
    md: '32px',
    lg: '64px'
}

export default {
    name: "Icon",
    props: {
        name: {
            type: String,
            default: 'home'
        },
        color: {
            type: String,
            default: '#000000'
        },
        size: {
            type: String,
            default: 'sm'
        }
    },
    methods:{
        async iconComponent(){
            const iconComponent = await import(`./icons/${this.name}Icon.vue`);
            return iconComponent.default;
        }
    },
    computed: {
        setSize: function(){
            return iconSize[this.size]
        }
    }
}
</script>