<template>
  <button
    class="btn rounded-3"
    :type="btnType"
    :disabled="false"
    :class="{
      'btn-lg': large,
      'btn-sm': small,
      'btn-loading': loading,
      'btn-block': block
    }"
    :style="{
      background,
      color
    }"
    @click="$emit('click')"
  >
    <slot />
  </button>
</template>

<script>
export default {
  name: 'VButton',
  props: {
    btnType: {
      type: String,
      default: 'submit'
    },
    large: {
      type: Boolean,
      default: false
    },
    small: {
      type: Boolean,
      default: false
    },
    loading: {
      type: Boolean,
      default: false
    },
    block: {
      type: Boolean,
      default: false
    },
    background: {
      type: String,
      default: '#ffffff'
    },
    color: {
      type: String,
      default: 'white'
    }
  }
}
</script>
