<template>
  <div class="text-center section">
    <v-calendar
      class="custom-calendar max-w-full"
      :masks="masks"
      :attributes="attributes"
      disable-page-swipe
      is-expanded
    >
      <template v-slot:day-content="{ day, attributes }">
        <div class="flex flex-col h-full z-10 overflow-hidden">
          <span class="day-label text-sm text-gray-900">{{ day.day }}</span>
          <div class="flex-grow overflow-y-auto overflow-x-auto">
            <template  v-for="attr in attributes" >
            <button
            :key="attr.key"
              class="btn btn-info text-xs leading-tight rounded-sm p-1 mt-0 mb-1"
              data-bs-toggle="modal"
              :data-bs-target="`#modal-${attr.key}`"
            >
              {{ attr.customData.title }}
            </button>

            </template>
          </div>
        </div>
      </template>
    </v-calendar>
    <template  v-for="attr in attributes" >
      <div class="modal" :key="'modal'+attr.key"  :id="`modal-${attr.key}`" tabindex="-1" role="dialog" v-if="modalShow">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title">Detail Booking {{attr.key}}</h3>
            </div>
            <div class="modal-body">
              <table class="table table-stripped">
                <thead>
                  <tr>
                    <th>Nama</th>
                    <th>Telp.</th>
                    <th>Jumlah Kamar</th>
                    <th>Status</th>
                    <th>Action</th>
                  </tr>
                </thead>

                <tbody>
                   <tr v-for="detail in attr.customData.detail" :key="detail.name">
                    <td>{{detail.name}}</td>
                    <td>{{detail.phone}}</td>
                    <td>{{detail.qty}}</td>
                    <td>{{detail.status}}</td>
                    <td><button type="button" class="btn btn-danger" v-on:click="editData(detail)">Cancel Booking</button></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </template>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  props:['attributes'],
  data() {

    return {
       modalShow: true,
      masks: {
        weekdays: 'WWW',
      },


    };
  },

  methods: {
    editData(data) {
      this.$swal({
        title: 'Are you sure to cancel this booking?',
        icon: 'warning',
        buttons: true,
        dangerMode: true
      })
      .then((willDelete) => {
        if(willDelete) {
          axios.delete('/api/order/delete/'+data.id).then(e =>
          {
            this.$swal('Success canceling the booking', {
              icon: 'success'
            }).then(ok => {
              location.reload()
            })
          })
        } else {
          this.$swal('Cancelled')
        }
      })
    }
  }
};
</script>
