<template>
  <div class="text-center section">
    <v-calendar
      class="custom-calendar max-w-full"
      :masks="masks"
      :attributes="attributes"
      disable-page-swipe
      is-expanded
    >
      <template v-slot:day-content="{ day, attributes }">
        <div class="flex flex-col h-full z-10 overflow-hidden">
          <span class="day-label text-sm text-gray-900">{{ day.day }}</span>
          <div class="flex-grow overflow-y-auto overflow-x-auto">
            <template  v-for="attr in attributes" >
            <button
            :key="attr.key"
              :class="'btn text-xs leading-tight rounded-sm p-1 mt-0 mb-1 '+(attr.customData.status === 'confirmation' ? 'btn-warning' : 'btn-info')"
              data-bs-toggle="modal"
              :data-bs-target="`#modal-${attr.key}`"
            >
              {{ attr.customData.title }}
            </button>

            </template>
          </div>
        </div>
      </template>
    </v-calendar>
    <template  v-for="attr in attributes" >
      <div class="modal" :key="'modal'+attr.key"  :id="`modal-${attr.key}`" tabindex="-1" role="dialog" v-if="modalShow">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title">Detail Booking {{attr.customData.title}}</h3>
            </div>
            <div class="modal-body text-start">
                <div class="row">
                    <div class="col-lg-12">
                <div class="row align-items-center">
                    <div class="col-4 text-start">
                        <p class="mb-0 text-start font-weight-bold">Nama</p>
                    </div>
                     <div class="col-8 text-start">
                        <p class="text-start mb-0">: {{attr.customData.detail.name}}</p>
                    </div>
                </div>
                <div class="row align-items-center mt-3">
                    <div class="col-4 text-start">
                        <p class="text-start mb-0 font-weight-bold">Telp.</p>
                    </div>
                     <div class="col-8 text-start">
                        <p class="text-start mb-0">: {{attr.customData.detail.phone}}</p>
                    </div>
                </div>
                <div class="row align-items-center mt-3">
                    <div class="col-4 text-start">
                        <p class="text-start mb-0 font-weight-bold">Status.</p>
                    </div>
                     <div class="col-8 text-start">
                        <p class="text-start mb-0">: {{attr.customData.detail.status}}</p>
                    </div>
                </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" v-on:click="editData(attr.customData.detail)">Cancel Booking</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </template>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  props:['attributes'],
  data() {
    // console.log(data)
    return {
      modalShow: true,
      masks: {
        weekdays: 'WWW',
      },

    };
  },

  methods: {
    editData(data) {
      console.log(data)
      this.$swal({
        title: 'Are you sure to cancel this booking?',
        icon: 'warning',
        butttons: true,
        dangerMode: true
      })
            .then((willDelete) => {
        if(willDelete) {
          axios.post('/api/order/cancelgedung/'+data.id).then(e =>
          {
            this.$swal('Success canceling the booking', {
              icon: 'success'
            }).then(ok => {
              location.reload()
            })
          })
        } else {
          this.$swal('Cancelled')
        }
      })
    }
  }
};
</script>
