<template>
  <div class="card">
    <div v-if="title" class="card-header" :style="{
      background : backgroundHeader
    }"
    >
      <h4 class="mb-0">
        <button class="btn btn-white me-3" @click="$router.go(-1)">
          <i class="fe fe-chevron-left" />
        </button>
        {{ title }}
      </h4>
    </div>
    <div v-if="multiNav.length != 0" class="card-header">
      <ul role="tablist" class="nav nav-tabs card-header-tabs">
        <li v-for="(nav,index) in multiNav" :key="index" role="presentation" class="nav-item">
          <router-link class="nav-link" :to="{name: nav.url}">
            {{ nav.name }}
          </router-link>
        </li>
      </ul>
    </div>

    <div class="card-body" :style="{
      background : backgroundBody
    }"
    >
    <form @submit.prevent="submit">
      <slot />
    </form>
    </div>
  </div>
</template>

<script>
export default {
  name: 'CardForm',

  props: {
    title: {
      type: String,
      default: null
    },
    backgroundHeader: {
      type: String,
      default: '#fbfbfb'
    },
    backgroundBody: {
      type: String,
      default: '#ffffff'
    },
    multiNav: {
      type: Array,
      default () {
        return []
      }
    },
    submit: {
      type: Function,
      default: () => {}
    },
  }
}
</script>
