<template>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" :id="id" @change="myChangeEvent($event)">
        <label class="form-check-label" :for="id">
            <div class="card border border-primary" style="width: 12rem" v-if="changeCheck === true">
                <div class="card-body">
                    <p>{{ value }}</p>
                </div>
            </div>
            <div class="card" style="width: 12rem" v-else>
                <div class="card-body">
                    <p>{{ value }}</p>
                </div>
            </div>
        </label>
    </div>
</template>

<script>
export default {
    name: 'CardCheckbox',
    props: {
        check: {
            type: Boolean,
            default: false
        },
        id: {
            type: String,
            default: 'flexCheckDefault'
        },
        value: {
            type: String,
            default: null
        }
    },
    data: function() {
        return {
            changeCheck: this.check
        }
    },
    methods: {
        myChangeEvent(val){
            this.changeCheck = (val.target.checked);
        },
    }
}
</script>