<template>
  <div class="card">
    <div v-if="title" class="card-header" :style="{
      background : backgroundHeader
    }">
      {{ title }}
    </div>

    <div class="card-body" :style="{
      background : backgroundBody
    }">
      <slot />
    </div>
  </div>
</template>

<script>
export default {
  name: 'Card',

  props: {
    title: { 
      type: String, 
      default: null
    },
    backgroundHeader: {
      type: String,
      default: "#fbfbfb"
    },
    backgroundBody: {
      type: String,
      default: "#ffffff"
    }
  }
}
</script>
