<template>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" :checked="checked" :name="name" :id="id">
        <label class="form-check-label" :for="name">
            <slot/>
        </label>
    </div>
</template>

<script>
export default {
    name: "Checkboxes",
    props: {
        name: {
            type: String, 
            default: "checkbox"
        },
        id: {
            type: String,
            default: null
        },
        checked: {
            type: Boolean,
            default: false
        }
    }
}
</script>