<template>
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-lg-4 col-12">
          <div class="input-group mb-3">
            <span id="basic-addon1" class="input-group-text">
              <i class="fe fe-search" />
            </span>
            <input :value="search"
                   type="text" class="form-control"
                   placeholder="Search..."
                   aria-label="Username"
                   aria-describedby="basic-addon1"
                   @input="(value) => search=value.target.value"
            >
          </div>
        </div>
        <div class="col-lg-8 col-12">
          <div class="d-flex gap-2 d-md-flex justify-content-md-end">
            <b-dropdown id="dropdown-form" variant="white" text="Filter" ref="dropdown" right  v-if="isFilter">
              <b-dropdown-form>
                <form-builder
                  :set-param="filterSet"
                  :get-param="filterGet"
                  :field="filterForm"
                />
              </b-dropdown-form>
            </b-dropdown>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 mt-3">
      <div class="table-responsive">
        <b-table
          small hover
          show-empty
          :items="items"
          :busy="loading"
          :fields="fields"
          @sort-changed="onSortChanged"
        >
          <template #cell()="data">
           <span v-html="data.value"></span>
          </template>
          <template #table-busy>
            <div class="text-center text-primary my-2">
              <b-spinner class="align-middle" />
              <strong>Loading...</strong>
            </div>
          </template>
          <template #cell(index)="data">
            {{ data.index + 1 }}
          </template>
          <template #cell(action)="row">
            <slot name="action" :action="row" />
          </template>
          <template #empty>
            <div class="row justify-content-center">
              <div class="col-5 text-center">
                <img src="/images/no-data.png" class="img-fluid" style="width:50%">
                <p><b>No Data Available</b></p>
              </div>
            </div>
          </template>
        </b-table>
        <div class="mt-3">
          <div v-if="pagination.total !== 0">
            <b-pagination
              :total-rows="pagination.total"
              :per-page="pagination.per_page"
              align="center"
              :value="currentPage"
              @input="(page) => {currentPage = page}"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import FormBuilder from './FormBuilder.vue'

export default {
  components: { FormBuilder },
  name: 'DataTable',

  props: {
    isFilter: {
      type: Boolean,
      default: false
    },
    filterForm: {
      type: Array,
      default: () => []
    },
    filterGet: {
      type: Function,
      default: () => {}
    },
    filterSet: {
      type: Function,
      default: () => {}
    },
    fields: {
      type: Array,
      default: () => []
    },
    url: {
      type: String,
      default: ''
    },
    param: {
      type: Object,
      default: () => {}
    },
    filterField: {
      type: Array,
      default: () => []
    },
    refresh: {
      type: Number,
      default: 0
    }
  },

  data () {
    return {
      loading: true,
      pagination: {
        total: 0,
        per_page: 10
      },
      items: []
    }
  },

  computed: {
    currentPage: {
      get: function () {
        return this.$route.query.page
      },
      set: async function (page) {
        await this.$router.replace({
          query: {
            ...this.$route.query,
            page: page
          }
        })
      }
    },

    search: {
      get: function () {
        return this.$route.query.search
      },
      set: async function (search) {
        await this.$router.replace({
          query: {
            ...this.$route.query,
            search: search
          }
        })
      }
    }
  },

  watch: {
    '$route.query.page' (value) {
      if (this.$route.query.page === undefined) {
        this.$router.replace({
          query: {
            ...this.$route.query,
            page: 1
          }
        })
      }

      this.getData()
    },
    '$route.query.search' () {
      this.getData()
    },
    '$route.query.sort' () {
      this.getData()
    },
    refresh: function () {
      this.getData()
    },
    param: function() {
      this.getData()
    }
  },

  mounted () {
    if (this.$route.query.page === undefined) {
      this.$router.replace({
        query: {
          ...this.$route.query,
          page: 1
        }
      }).catch(() => {})
    }

    this.getData()
  },

  methods: {
    onClick() {
      // Close the menu and (by passing true) return focus to the toggle button
      this.$refs.dropdown.hide(true)
    },
    getData: async function (query) {
      this.loading = true
      let datas = []
      const { data } = await axios.get(this.url, {
        params: {
          ...this.param,
          search: this.search,
          page: this.$route.query.page,
          sort: this.$route.query.sort,
          sort_asc: this.$route.asc
        }
      })

      this.loading = false
      if (data.pagination) {
        datas = data.data.data
        this.pagination.total = data.data.total
        this.pagination.per_page = data.data.per_page
        this.pagination.current_page = data.data.current_page
      }else{
        datas = data.data
      }

      if (this.filterField.length > 0) {
        this.items = datas.filter(item => this.filter(item))
      } else {
        this.items = datas
      }
    },

    onSortChanged: function (event) {
      this.$router.replace({
        query: {
          ...this.$route.query,
          sort: event.sortBy,
          asc: event.sortDesc ? 0 : 1
        }
      })
    },

    filter: function (item) {
      let flag = false

      for (let i = 0; i < this.filterField.length; i++) {
        if (item[this.filterField[i].key] === this.filterField[i].value) {
          flag = true
          break
        }
      }

      return flag
    }
  }
}
</script>

<style>
.tbody {
  cursor: pointer;
  color: #312675;
}
.page-link {
  border: 1px solid transparent;
  color: grey;
}

.page-item.disabled .page-link, .page-item.disabled .page {
  border-color: transparent;
}

.page-item.active .page-link, .page-item.active .page {
  color: #2C7BE5;
  background-color: transparent;
  border-color: transparent;
}

.table > :not(:first-child){
  border:none
}
</style>
