<template>
  <div class="row" style="width:50%">
    <div class="col-12 mt-3">
      <div class="table-responsive">
        <b-table
          small hover
          :items="items"
          :busy="loading"
          :fields="fields"
          @sort-changed="onSortChanged"
        >
          <template #table-busy>
            <div class="text-center text-primary my-2">
              <b-spinner class="align-middle" />
              <strong>Loading...</strong>
            </div>
          </template>
          <template #cell(index)="data">
            {{ data.index + 1 }}
          </template>
          <template #cell(action)="row">
            <slot name="action" :action="row" />
          </template>
        </b-table>
        <div class="mt-3">
          <div v-if="pagination.total !== 0">
            <b-pagination
              :total-rows="pagination.total"
              :per-page="pagination.per_page"
              align="left"
              :value="currentPage"
              size="sm"
              @input="(page) => {currentPage = page}"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'DataTable2',

  props: {
    fields: {
      type: Array,
      default: () => []
    },
    url: {
      type: String,
      default: ''
    },
    param: {
      type: Object,
      default: () => {}
    },
    filterField: {
      type: Array,
      default: () => []
    },
    refresh: {
      type: Number,
      default: 0
    }
  },

  data () {
    return {
      loading: true,
      pagination: {
        total: 0,
        per_page: 10
      },
      items: []
    }
  },

  computed: {
    currentPage: {
      get: function () {
        return this.$route.query.page
      },
      set: async function (page) {
        await this.$router.replace({
          query: {
            ...this.$route.query,
            page: page
          }
        })
      }
    },

    search: {
      get: function () {
        return this.$route.query.search
      },
      set: async function (search) {
        await this.$router.replace({
          query: {
            ...this.$route.query,
            search: search
          }
        })
      }
    }
  },

  watch: {
    '$route.query.page' (value) {
      if (this.$route.query.page === undefined) {
        this.$router.replace({
          query: {
            ...this.$route.query,
            page: 1
          }
        })
      }

      this.getData()
    },
    '$route.query.search' () {
      this.getData()
    },
    '$route.query.sort' () {
      this.getData()
    },
    refresh: function () {
      this.getData()
    }
  },

  mounted () {
    if (this.$route.query.page === undefined) {
      this.$router.replace({
        query: {
          ...this.$route.query,
          page: 1
        }
      }).catch(() => {})
    }

    this.getData()
  },

  methods: {
    getData: async function (query) {
      this.loading = true
      const { data } = await axios.get(this.url, {
        params: {
          ...this.param,
          search: this.search,
          page: this.$route.query.page,
          sort: this.$route.query.sort,
          sort_asc: this.$route.asc
        }
      })

      this.loading = false
      if (data.pagination) {
        this.pagination.total = data.data.total
        this.pagination.per_page = data.data.per_page
        this.pagination.current_page = data.data.current_page
      }

      if (this.filterField.length > 0) {
        this.items = data.data.result.filter(item => this.filter(item))
      } else {
        this.items = data.data.result
      }
    },

    onSortChanged: function (event) {
      this.$router.replace({
        query: {
          ...this.$route.query,
          sort: event.sortBy,
          asc: event.sortDesc ? 0 : 1
        }
      })
    },

    filter: function (item) {
      let flag = false

      for (let i = 0; i < this.filterField.length; i++) {
        if (item[this.filterField[i].key] === this.filterField[i].value) {
          flag = true
          break
        }
      }

      return flag
    }
  }
}
</script>

<style>
.tbody {
  cursor: pointer;
  color: #312675;
}
</style>
