<template>
    <div>
        <b-form-datepicker class="example-datepicker" v-model="value"></b-form-datepicker>
    </div>
</template>

<script>
export default {
    name: 'DatePicker',
    data(){
        return{
            value: ''
        }
    }
}
</script>