<template>
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" :disabled="disabled">
            {{ labelName }}
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a v-for="(value, key) in values" :key="key" class="dropdown-item" :href="links[key]">{{ value }}</a></li>
        </ul>
    </div>
</template>

<script>
export default {
    name: "Dropdown",
    props: {
        labelName: {
            type: String,
            default: "Dropdown"
        },
        disabled: {
            type: Boolean,
            default: false
        },
        values: {
            type: Array,
            default: () => []
        },
        links: {
            type: Array,
            default: () => []
        }
    }
}
</script>