<template>
  <div class="row">
    <div class="col-12">
      <img style="width:100%" :src="image" />
      <input
          type="file"
          ref="file"
          style="display: none"
          accept="image/*"
          @change="onFileChange"
      />
    </div>
    <div class="col-12">
      <div class="row mt-4">
          <div class="col-12" v-if="isLoading">
            <button class="btn btn-success btn-block " disabled>
              <div
                  class="spinner-border spinner-border-sm mr-2"
                  id="loading-submit"
                  role="status"
              >
                  <span class="sr-only">Loading...</span>
              </div>
              Uploading ...
            </button>
          </div>
          <template v-else>
            <div class="col-12 col-lg-6">
                <button
                    type="button"
                    @click="$refs.file.click()"
                    class="btn btn-primary btn-block"
                >
                    Change
                </button>
            </div>
            <div class="col-12 col-lg-6">
                <button
                    type="button"
                    @click="removeImage"
                    class="btn btn-danger btn-block"
                >
                    Remove
                </button>
            </div>
          </template>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'ImageUpload',
  props: {
    image: { type: String, default: '/img/default.png'},
    field: { type: String, default: null},
    set: {
      type: Function,
      default: () => {}
    },
    default: null
  },
  data() {
    return {
      is_reset: 0,
      isLoading:false
    }
  },
  watch: {
    default: function(value){
      this.image = value
    },
    image: function(value){
      console.log(value)
      this.set(value)
    }
  },
  mounted(){
    if(this.default){
      this.image = this.default
    }
  },
  methods : {
    onFileChange(e) {
      var that = this
      this.isLoading = true
      const file = e.target.files[0];
      // if(file.size >= 2097152 ){
      //     this.$toast.open({
      //       message: 'Max size 2MB!',
      //       type: "error",
      //       position: 'top',
      //       duration: 5000,
      //       dismissible: true
      //     })
      //     this.isLoading = false
      //     this.removeImage()
      //     return true
      // }
      var formData = new FormData();
      formData.append('image',file)

      if(this.image != '/images/default.png'){
        axios.post("/api/file/remove", {image:this.image})
      }
      
      axios
        .post("/api/file/upload", formData)
        .then(res => {
            this.isLoading = false 
            this.image = res.data.image
        })
        .catch(e => {
            this.isLoading = false
        });
    },
    removeImage() {
      this.isLoading = true
      axios
        .post("/api/file/remove", {image:this.image})
        .then(res => {
            this.isLoading = false 
            this.image = '/images/default.png'
        })
        .catch(e => {
            this.isLoading = false
        });
    },
  }
}
</script>
