<template>
  <picture-input
    ref="pictureInput"
    width="200"
    height="200"
    margin="0"
    accept="image/jpeg,image/png"
    size="10"
    :z-index="1"
    button-class="btn"
    :custom-strings="{
      upload: '<h1>Bummer!</h1>',
      drag: 'Drag an image'
    }"
    @change="change"
  />
</template>

<script>
import PictureInput from 'vue-picture-input'

export default {
  name: 'ImageInput',
  components: {
    PictureInput
  },
  props: {
    change: {
      type: Function,
      default: () => {}
    }
  }
}
</script>
