<template>
  <vue-tel-input
    :auto-format="false"
    mode="auto"
    default-country="SG"
    :valid-characters-only="true"
    :dropdown-options="{
      showDialCodeInList: true,
      showDialCodeInSelection: false,
      showFlags: true,
    }"
    :input-options="{
      ...inputOptions,
      required: required,
      
    }"
    :value="value"
    @input="input"
  />
</template>

<script>
export default {
  name: 'PhoneInput',
  props: {
    required: {
      type: Boolean,
      default: true
    },
    value: {
      type: String,
      default: ''
    },
    input: {
      type: Function,
      default: () => {}
    },
    inputOptions: {
      type: Object,
      default: () => {}
    }
  }
}
</script>
