<template>
  <div class="card border-none bg-white">
    <div class="card-body shadow-sm">
      <div class="row text-center">
        <div class="col-12 rounded-3 rounded-right">
          <h3 class="pt-1"><b>{{title}}</b></h3>

          <h2 class="pt-3 mb-0" v-if="!loading"><b>{{data}}</b></h2>
          <div class="spinner-border text-primary" role="status" v-else>
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import { mapGetters } from 'vuex'

export default {
  props:['title','icon','api','param'],
    computed: mapGetters({
      token: 'auth/token'
    }),
  data: () => ({
      loading:true,
    data: 0,
  }),
  mounted(){
      this.getData()
  },
  methods:{
      getData(){
          axios.get(`${this.api}`,
            {
                params: this.param,
                headers: {
                    Authorization: 'Bearer ' + this.token 
                }
            }).then(res => {
                this.loading = false
                this.data = res.data.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            }).catch(e => {
                this.loading = false
                this.$toast.open({
                    message: e.response.data.message,
                    type: "error",
                    position: 'top',
                    duration: 5000,
                    dismissible: true
                })
            })
      }
  }
}
</script>

<style scoped>
/* .bg-icon {
  background-color: #E1EDF9;
} */
.bg-circle {
  padding: 10px 10px;
}
.title {
  font-size: 12px;
}
.bg-provey {
  background-color: #E1EDF9;
}
.border-provey {
  border-radius: 10px;
}
</style>
