<template>
  <Select2
    :options="options"
    :required="required"
    :value="value"
    @select="select"
  />
</template>

<script>
import Select2 from 'v-select2-component'

export default {
  name: 'VSelect',
  components: {
    Select2
  },
  props: {
    required: {
      type: Boolean,
      default: true
    },
    options: {
      type: Array,
      default: null
    },
    select: {
      type: Function,
      default: ({ id, text }) => {}
    },
    value: {
      type: String,
      default: ''
    }
  }
}
</script>
