<template>
  <table class="table table-borderless">
    <thead style="color: #312675; border-bottom: gray solid 1px">
      <tr>
        <th v-for="({header, width}, idx) in headers" :key="idx" :style="{width}">
          <span>{{ header }}</span>
        </th>
      </tr>
    </thead>
    <tbody class="tbody">
      <tr v-for="(td, idx) in body" :key="idx" @click="clickTableRow(td.id)">
        <td v-for="({key}, idx) in headers" :key="idx">
          {{ td[key] }}
        </td>
      </tr>
    </tbody>
  </table>
</template>

<script>
export default {
  name: 'TableData',
  props: {
    headers: {
      type: Array,
      default: () => [
        {
          key: '',
          header: '',
          width: '',
          colSpan: ''
        }
      ]
    },
    body: {
      type: Array,
      default: () => []
    },
    clickTableRow: {
      type: Function,
      required: true
    }
  }
}
</script>

<style>
.tbody {
  cursor: pointer;
  color: #312675;
}
</style>
