<template>
    <vue-tel-input></vue-tel-input>
</template>

<script>
import { VueTelInput } from 'vue-tel-input';
import 'vue-tel-input/dist/vue-tel-input.css'; 

export default {
    name: 'TelpInput',
    components: {
        VueTelInput
    }
}

</script>