<template>
  <input
    :class="{'is-invalid' : invalid}"
    class="form-control rounded-3"
    :name="name"
    :placeholder="placeholder"
    :value="value"
    @input="inputHandler"
  >
</template>

<script>
export default {
  name: 'TextInput',

  props: {
    name: {
      type: String,
      default: 'Default Name'
    },
    placeholder: {
      type: String,
      default: ''
    },
    value: {
      type: String,
      default: ''
    },
    invalid: {
      type: Boolean,
      default: false
    }
  },

  methods: {
    inputHandler (e) {
      this.$emit('input', e.target.value)
    }
  }
}
</script>
