<template>
    <div>
        <label class="pb-2" :for="name">{{ $t(labelName) }}</label>
        <textarea class="form-control rounded-3" :name="name" :id="name" :cols="cols" :rows="rows"></textarea>
    </div>
</template>

<script>
export default {
    name: "TextareaInput",
    props: {
        labelName: {
            type: String,
            default: "textarea"
        },
        name: {
            type: String,
            default: "textarea"
        },
        cols: {
            type: Number,
            default: 48
        },
        rows: {
            type: Number,
            default: 4
        }
    }
}
</script>