<template>
  <div>
    <b-form-timepicker class="example-timepicker" v-model="value"></b-form-timepicker>
  </div>
</template>

<script>
  export default {
    name: 'TimePicker',
    data(){
      return{
        value: ''
      }
    }
  }
</script>

<style scoped>
.example-timepicker ::v-deep .b-form-spinbutton {
  padding: 0 !important;
}
</style>