<template>
  <nav class="navbar sticky-top navbar-expand-md navbar-light border-0 ">
    <div class="container-fluid">
      <router-link class="navbar-brand " to="/home">
        <img src="/images/landscape-logo-dark.png" class="navbar-brand-img mx-auto" alt="...">
      </router-link>

      <b-navbar-toggle class="" target="nav-collapse"></b-navbar-toggle>

      <b-collapse class=" nav-collapse d-lg-none" id="nav-collapse" is-nav>
        <ul class="navbar-nav d-lg-none">
          <sidebar-button text="Dashboard" url="/home" icon-class="fe fe-bar-chart" />
        </ul>
        <hr class="navbar-divider d-lg-none my-3">
        <ul class="navbar-nav d-lg-none">
           <sidebar-button
            text="Order"
            :url="{ path: '/order' }"
            icon-class="fe fe-shopping-cart"
          />
        </ul>
        <hr class="navbar-divider d-lg-none my-3">
        <ul class="navbar-nav d-lg-none">
          <sidebar-button
            text="Futsal"
            :url="{ path: '/setting/futsal' }"
            icon-class="fe fe-settings"
          />
          <sidebar-button
            text="Tenis"
            :url="{ path: '/setting/tenis' }"
            icon-class="fe fe-settings"
          />
          <sidebar-button
            text="Gedung"
            :url="{ path: '/setting/gedung' }"
            icon-class="fe fe-settings"
          />
          <sidebar-button
            text="Club"
            :url="{ path: '/setting/club' }"
            icon-class="fe fe-settings"
          />
        </ul>
        <hr class="navbar-divider d-lg-none my-3">
        <ul class="navbar-nav d-lg-none">
           <sidebar-button
            text="User"
            :url="{ path: '/users/users' }"
            icon-class="fe fe-users"
            v-if="user.user.level == 0"
          />
           <sidebar-button
            text="Dosen"
            :url="{ path: '/users/dosen' }"
            icon-class="fe fe-users"
            v-if="user.user.level == 0"
          />
           <sidebar-button
            text="Mahasiswa"
            :url="{ path: '/users/mahasiswa' }"
            icon-class="fe fe-users"
            v-if="user.user.level == 0"
          />
        </ul>
        <hr class="navbar-divider d-lg-none my-3">
        <ul class="navbar-nav d-lg-none">
          <li class="nav-item">
            <a class="nav-link " href="#" data-bs-toggle="modal" data-bs-target="#logout-modal" style="margin-left:10px; margin-right:10px">
              <i class="fe fe-log-out" style="font-size:1.5rem; margin-right:10px; color:#0FB0F8"/><span class="fw-bold" style="color:#0FB0F8">Logout</span>
            </a>
          </li>
        </ul>
      </b-collapse>

      <div class="navbar-nav d-none d-lg-flex">
        <div class="dropdown me-4 d-none d-md-flex">
          <a href="#" class="navbar-user-link" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="icon">
              <i class="fe fe-bell" />
            </span>
          </a>

          <div class="dropdown-menu dropdown-menu-end dropdown-menu-card">
            <div class="card-header">
              <h5 class="card-header-title">
                Notifications
              </h5>
              <a href="#!" class="small">
                View all
              </a>
            </div>
            <div class="card-body">
              <div class="list-group list-group-flush list-group-activity my-n3">
                <a class="list-group-item text-reset" href="#!">
                  <div class="row">
                    <div class="col-auto">
                      <div class="avatar avatar-sm">
                        <img src="/assets/img/avatars/profiles/avatar-1.jpg" alt="..." class="avatar-img rounded-circle">
                      </div>
                    </div>
                    <div class="col ms-n2">
                      <div class="small">
                        <strong>Dianna Smiley</strong> shared your post with Ab Hadley, Adolfo Hess,
                        and 3 others.
                      </div>
                      <small class="text-muted">
                        2m ago
                      </small>
                    </div>
                  </div>
                </a>
                <a class="list-group-item text-reset" href="#!">
                  <div class="row">
                    <div class="col-auto">
                      <div class="avatar avatar-sm">
                        <img src="/assets/img/avatars/profiles/avatar-2.jpg" alt="..." class="avatar-img rounded-circle">
                      </div>=
                    </div>
                    <div class="col ms-n2">
                      <div class="small">
                        <strong>Ab Hadley</strong> reacted to your post with a 😍
                      </div>
                      <small class="text-muted">
                        2m ago
                      </small>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="dropdown">
          <a href="#" class="dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <!-- <img src="/assets/img/avatars/profiles/avatar-1.jpg" alt="..." class="avatar-img rounded-circle" /> -->
            <div class="avatar avatar-sm">
              <img :src="user.photo_url" class="avatar-img rounded-circle profile-photo mr-1">
            </div>
            {{ user.name }}
          </a>

          <div class="dropdown-menu dropdown-menu-end">
            <router-link :to="{ path: '/account' }" class="dropdown-item pl-3">
              <fa icon="user" fixed-width />
              Account
            </router-link>

            <div class="dropdown-divider" />
            <a href="#" class="dropdown-item pl-3" data-bs-toggle="modal" data-bs-target="#logout-modal">
              <fa icon="sign-out-alt" fixed-width />
              {{ $t('logout') }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</template>

<script>
import { mapGetters } from 'vuex'
import SidebarButton from './Sidebar/SidebarButton.vue'

export default {
  components: { SidebarButton },

  data: () => ({
    appName: window.config.appName
  }),

  computed: mapGetters({
    user: 'auth/user'
  }),

  methods: {
    async logout () {
      // Log out the user.
      await this.$store.dispatch('auth/logoutAdmin')

      // Redirect to login.
      this.$router.push({ name: 'login' })
    }
  }
}
</script>

<style scoped>
.navbar{
  z-index: 9999;
}
.navbar-brand-img, .navbar-brand > img{
  max-height: 2.5rem;
}
.navbar-brand{
  margin-left:50px
}
.navbar-nav{
  margin-right: 30px;
}
@media(max-width:720px){
  .navbar-brand{
    margin-left:10px
  }
  .navbar-nav{
    margin-right: 0px;
  }
}
.form-control-search{
  padding-top:0.5rem;
  padding-bottom:0.5rem;
}
.avatar-sm{
  height: 1.5rem;
}
.profile-photo {
  width: 2rem;
  height: 2rem;
  margin: -.375rem 0;
}
.form-inline .fe {
  font-size: 1.2rem;
  color: #A6BDDE;
  padding-left: 10px;
}
.form-inline i {
  position: absolute;
}
.form-control {
  padding-left: 40px;
}
.topbar .fe {
  font-size: 1.5rem;
  color: #A6BDDE;
}
.navbar {
  background-color: #fff;
}
.navbar-nav .nav-item .nav-link {
  color: black;
}

</style>
