<template>
  <!-- TODO: Use localization key -->
  <div class="row">
    <div class="col-12">
      <card-page
        :multi-nav="[
          {
            name: 'Subject',
            pageName: 'subject',
          },
          {
            name:'Stages',
            pageName:'stages'
          }]"
      >
        <div class="row d-flex align-items-center">
          <div class="col-6">
            <h3 class="mb-0">
              Stages
            </h3>
          </div>
          <div class="col-6 ">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <router-link :to="{name:'stages.create'}" class="btn btn-primary ">
                Create
              </router-link>
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-12">
            <data-table
              :fields="fields"
              :url="'/api/admin/branches/'"
              :refresh="refresh"
            >
              <template #action="action">
                <button class="btn btn-sm btn-pills btn-white" @click="editData(action)">
                  Edit
                </button>
                <button class="btn btn-sm btn-pills btn-danger" @click="deleteData(action)">
                  Delete
                </button>
              </template>
            </data-table>
          </div>
        </div>
      </card-page>
    </div>
  </div>
</template>

<script>
import CardPage from '../../components/CardPage.vue'
import DataTable from '../../components/DataTable.vue'
import axios from 'axios'

export default {
  metaInfo () {
    return { title: this.$t('Branches') }
  },

  components: {
    CardPage,
    DataTable
  },

  data () {
    return {
      fields: [
        {
          label: 'Branch Name',
          key: 'name',
          sortable: true
        },
        {
          label: 'Address',
          key: 'address',
          sortable: false
        },
        {
          key: 'website',
          label: 'Website',
          sortable: true
        },
        'action'
      ],
      refresh: 0
    }
  },

  methods: {
    editData (data) {
      this.$router.push({ name: 'stages.update', params: { id: data.action.item.id } })
    },
    deleteData (data) {
      this.$swal({
        title: 'Are you sure to delete this data?',
        text: 'Once deleted, you will not be able to recover this data!',
        icon: 'warning',
        buttons: true,
        dangerMode: true
      })
        .then((willDelete) => {
          if (willDelete) {
            axios.delete(`/api/admin/branches/${data.action.item.id}`).then(e => {
              swal('Success delete data!', {
                icon: 'success'
              }).then(ok => {
                this.refresh += 1
              })
            })
          } else {
            swal('Cancelled!')
          }
        })
    }
  }
}
</script>
