<template>
  <div>
    <h1 v-if="hasID" style="margin-top: 15px">
      Edit Branch page
    </h1>
    <h1 v-else>
      Create Branch page
    </h1>

    <button v-if="hasID" @click="remove">
      {{ "Delete" }}
    </button>

    <div class="pb-2">
      <label>{{ "Name" }}</label><br>
      <text-input v-model="form.name" />
    </div>
    <div class="pb-2">
      <label>{{ "Address" }}</label><br>
      <text-input v-model="form.address" />
    </div>
    <div class="pb-2">
      <label>{{ "Reg No" }}</label><br>
      <text-input v-model="form.regno" />
    </div>
    <div class="pb-2">
      <label>{{ "Webiste" }}</label><br>
      <text-input v-model="form.website" />
    </div>
    <div class="pb-2">
      <label>{{ "Contact" }}</label><br>
      <text-input v-model="form.contact" />
    </div>
    <div class="pb-2">
      <label>{{ "Image" }}</label><br>
      <text-input v-model="form.image" />
    </div>
    <div class="pb-2">
      <label>{{ "Config" }}</label><br>
      <text-input v-model="form.config" />
    </div>
    <button v-if="hasID" @click="save">
      {{ "Save" }}
    </button>
    <button v-else @click="create">
      {{ "Create" }}
    </button>
  </div>
</template>

<script>
import axios from 'axios'
import Form from 'vform'

export default {
  metaInfo () {
    return { title: this.$t('Create_a_new_branch') }
  },

  data: function () {
    return {
      form: new Form({
        name: null,
        address: null,
        regno: null,
        website: null,
        country_code: 62, // TODO: Remove hardcoded code.
        contact: null,
        image: null,
        config: null
      })
    }
  },

  computed: {
    hasID () {
      return !isNaN(this.$route.params.id)
    }
  },

  async created () {
    if (!isNaN(this.$route.params.id)) {
      const { data } = await axios.get(`/api/admin/branches/${this.$route.params.id}`)
      this.form.name = data.data.branches.name
      this.form.address = data.data.branches.address
      this.form.regno = data.data.branches.regno
      this.form.website = data.data.branches.website
      this.form.contact = data.data.branches.contact
      this.form.image = data.data.branches.image
      this.form.config = data.data.branches.config
    }
  },

  methods: {
    async save () {
      console.log('save clicked')
      const { data } = await this.form.patch(`/api/admin/branches/${this.$route.params.id}`)

      console.log(data)

      this.$router.push({ name: 'branches' })
    },

    async create () {
      console.log('create clicked')
      const { data } = await this.form.post('/api/admin/branches')

      console.log(data)

      this.$router.go(-1)
    },

    async remove () {
      const { data } = await axios.delete(`/api/admin/branches/${this.$route.params.id}`)

      console.log(data)

      this.$router.go(-1)
    }
  }
}
</script>
