<template>
  <div class="row">
    <div class="col-12">
      <card-form :title="title" :submit="save">
        <form-builder
          :set-param="setParam"
          :get-param="getParam"
          :field="fields"
        />
        <div class="row">
          <div class="col-12">
            <hr>
            <div class="row" >
              <div class="col-3">
                <label>Tanggal Mulai<span class="text-danger">*</span></label>
                <input class="form-control" type="date" v-model="params.date_start" required>
              </div>
              <div class="col-3">
                <label>Tanggal Selesai<span class="text-danger">*</span></label>
                <input class="form-control" type="date" v-model="params.date_end" required>
              </div>
              <div class="col-3">
                <label>Jam Mulai<span class="text-danger">*</span></label>
                <select class="form-control" v-model="params.jam_mulai">
                  <option v-for="jam in jam_mulai" v-bind:key="jam.id">{{jam.text}}</option>
                </select>
              </div>
              <div class="col-3">
                <label>Jam Selesai<span class="text-danger">*</span></label>
                <select class="form-control" v-model="params.jam_selesai">
                  <option v-for="jam in jam_selesai" v-bind:key="jam.id">{{jam.text}}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <hr>
            <div class="row">
              <div class="col-4">
                <label>Nama<span class="text-danger">*</span></label>
                <input class="form-control" required v-model="params.name">
              </div>
              <div class="col-4">
                <label>No.Telp<span class="text-danger">*</span></label>
                <input class="form-control" required v-model="params.phone">
              </div>
              <div class="col-4">
                <label>Email<span class="text-danger">*</span></label>
                <input class="form-control" required v-model="params.email">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <hr />
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <button type="submit" class="btn btn-primary" >
                {{ "Save" }}
              </button>
            </div>
          </div>
        </div>
      </card-form>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import CardForm from "../../components/CardForm.vue";
import FormBuilder from "../../components/FormBuilder.vue";
import { mapGetters } from "vuex";
import Index from '../account/index.vue';
import moment from 'moment';

export default {
  components: {
    CardForm,
    FormBuilder,
    Index,
  },

  metaInfo() {
    return { title: "Create Jadwal" };
  },

  data: function () {
    const now = moment().format('YYYY-MM-DD');

    return {
      dataUser: [],
      jam_mulai: [
        {
          id: '09:00',
          text: '09:00'
        },
        {
          id: '10:00',
          text: '10:00'
        },
        {
          id: '11:00',
          text: '11:00'
        },
        {
          id: '12:00',
          text: '12:00'
        },
        {
          id: '13:00',
          text: '13:00'
        },
        {
          id: '14:00',
          text: '14:00'
        },
        {
          id: '15:00',
          text: '15:00'
        },
        {
          id: '16:00',
          text: '16:00'
        },
        {
          id: '17:00',
          text: '17:00'
        },
        {
          id: '18:00',
          text: '18:00'
        },
        {
          id: '19:00',
          text: '19:00'
        },
        {
          id: '20:00',
          text: '20:00'
        }
      ],
      jam_selesai: [
        {
          id: '10:00',
          text: '10:00'
        },
        {
          id: '11:00',
          text: '11:00'
        },
        {
          id: '12:00',
          text: '12:00'
        },
        {
          id: '13:00',
          text: '13:00'
        },
        {
          id: '14:00',
          text: '14:00'
        },
        {
          id: '15:00',
          text: '15:00'
        },
        {
          id: '16:00',
          text: '16:00'
        },
        {
          id: '17:00',
          text: '17:00'
        },
        {
          id: '18:00',
          text: '18:00'
        },
        {
          id: '19:00',
          text: '19:00'
        },
        {
          id: '20:00',
          text: '20:00'
        },
        {
          id: '21:00',
          text: '21:00'
        }
      ],
      fields: [
        {
          key: "service_type",
          label: "Layanan",
          type: "select",
          required: true,
          col: "col-12 col-lg-6",
          option:[
            {
              id: 'reguler',
              text: 'Reguler'
            },
            {
              id: 'turnamen',
              text: 'Turnamen'
            }
          ]
        },
        // {
        //   key: "type",
        //   label: "Tipe Pesanan",
        //   type: "select",
        //   required: true,
        //   col: "col-12 col-lg-6",
        //   option:[
        //     {
        //       id: 'harian',
        //       text: 'Harian'
        //     },
        //     {
        //       id: 'rutin',
        //       text: 'Rutin'
        //     }
        //   ]
        // },
        
        
      ],
      params: {
        order_type: 'futsal',
        user_type: 'admin',
        service_type: 'reguler',
        type: 'harian',
        jam_mulai: '09:00',
        jam_selesai: '10:00',
        date_start: now,
        date_end: now,
        name:null,
        email:null,
        phone:null,
      },
    };
  },

  computed: {
    ...mapGetters({
      user: "auth/user",
    }),
    hasID() {
      return !isNaN(this.$route.params.id);
    },
    title() {
      if (!isNaN(this.$route.params.id)) {
        return "Edit Jadwal";
      } else {
        return "Create Jadwal";
      }
    },
  },

  async created() {
    if (!isNaN(this.$route.params.id)) {
      this.getData();
    }
  },

  methods: {
    getUser() {
      return this.dataUser;
    },

    async getData() {
      await axios
        .get(`/api/jadwal/${this.$route.params.id}`)
        .then((res) => {
          this.params = {
            name: res.data.data.name,
            description: res.data.data.description,
            image: res.data.data.image,
            price: res.data.data.price,
          };
          console.log(this.params);
        })
        .catch((err) => {
          console.log(err);
        });
    },

    async save() {
      if (!isNaN(this.$route.params.id)) {
        await axios
          .patch(`/api/jadwalfutsal/${this.$route.params.id}`, this.params)
          .then((res) => {
            this.$router.go(-1);
          })
          .catch((err) => {
            console.log(err);
          });
      } else {
        await axios
          .post("/api/jadwal/storefutsal", this.params)
          .then((res) => {
           this.$router.go(-1);
          })
          .catch((err) => {
            swal(err.response.data.message, {
              icon: "error",
            })
          });
      }
    },

    setParam(field, value) {
      this.params[field] = value;
    },

    getParam(field) {
      return this.params[field] ? this.params[field] : "";
    },
  },
};
</script>
