<template>
  <!-- TODO: Use localization key -->
  <div class="row">
    <div class="col-12">
      <card-page
        :multiNav="[
          {
            name: 'Futsal',
            pageName: 'jadwal.futsal'
          },
           {
            name: 'Tenis',
            pageName: 'jadwal.tenis'
          },
           {
            name: 'Clubhouse',
            pageName: 'jadwal.club'
          },
           {
            name: 'Gedung',
            pageName: 'jadwal.gedung'
          },
          {
            name: 'Convention Hall',
            pageName: 'jadwal.hall'
          },
        ]"
      >
        <div class="row d-flex align-items-center">
          <div class="col-12 col-lg-6">
            <h2 class="mb-0 fw-bold">Jadwal Clubhouse</h2>
          </div>
          <div class="col-12 col-lg-6 mt-lg-0 mt-3">
            <div class="d-flex gap-2 d-md-flex justify-content-md-end">
              <router-link :to="{ name: 'jadwal.createclub' }">
                <button class="btn btn-rounded btn-primary">Create</button>
              </router-link>
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-12 col-lg-12">
            <calendar
              :attributes="attributes"
            />
          </div>
        </div>
      </card-page>
    </div>
  </div>
</template>

<script>
import CardPage from "../../components/CardPage.vue";
import DataTable from "../../components/DataTable.vue";
import Calendar from "../../components/Calendar.vue";
import XLSX from "xlsx";
import axios from "axios";
import { mapGetters } from "vuex";
import moment from 'moment';
import FormBuilder from '../../components/FormBuilder.vue';

export default {
  metaInfo() {
    return { title: this.$t("Jadwal") };
  },

  computed: {
    ...mapGetters({
      user: "auth/user",
    }),
  },

  components: {
    CardPage,
    DataTable,
    Calendar,
    FormBuilder
  },

  props: {
    multiNav: {
      type: Array,
      default: () => [],
    },
  },

  data() {
    const now = moment().format('YYYY-MM-DD');
    return {
      attributes: [],
      filterParam:{
        date: now
      },
      filterForm: [
        {
          key: "date",
          label: "Tanggal",
          type: "date",
        },
      ],
      fields: [
        {
          label: "Jam",
          key: "title",
          sortable: true,
        },
        {
          label: "Status",
          key: "description",
          sortable: true,
        },
        {
          label: "Keterangan",
          key: "keterangan",
          sortable: true,
        },
      ],
      refresh: 0,
      loadingExport: false,
      dataexport: {
        triwulan1: [],
        triwulan2: [],
        triwulan3: [],
        triwulan4: [],
      },
    };
  },

  mounted(){
    this.getJadwal()
  },

  methods: {
    getJadwal() {
      axios.get('/api/jadwal/club').then(res => {
        Object.keys(res.data.data).map((index) => {
          this.attributes.push({
            key:index,
            customData:{
              title: 'Sudah Terbooking '+res.data.data[index].total+' Kamar',
              detail: res.data.data[index].detail,
              class: 'bg-info text-white'
            },
            dates: Date.parse(index)
          })
        })
      })
    },
    editData(data) {
      this.$router.push({
        name: "jadwal.update",
        params: { id: data.action.item.id },
      });
    },
    deleteData(data) {
      this.$swal({
        title: "Are you sure to delete this data?",
        text: "Once deleted, you will not be able to recover this data!",
        icon: "warning",
        buttons: true,
        dangerMode: true,
      }).then((willDelete) => {
        if (willDelete) {
          axios.delete(`/api/jadwal/${data.action.item.id}`).then((e) => {
            swal("Success delete data!", {
              icon: "success",
            }).then((ok) => {
              this.refresh += 1;
            });
          });
        } else {
          swal("Cancelled!");
        }
      });
    },
    filterSet(field, value) {
      this.filterParam[field] = value;
    },
    filterGet(field) {
      return this.filterParam[field] ? this.filterParam[field] : "";
    },
  },
};
</script>
