<template>
  <!-- TODO: Use localization key -->
  <div class="row">
    <div class="col-12">
      <card-page
        :multiNav="[
          {
            name: 'Futsal',
            pageName: 'jadwal.futsal'
          },
           {
            name: 'Tenis',
            pageName: 'jadwal.tenis'
          },
           {
            name: 'Clubhouse',
            pageName: 'jadwal.club'
          },
           {
            name: 'Gedung',
            pageName: 'jadwal.gedung'
          },
          {
            name: 'Convention Hall',
            pageName: 'jadwal.hall'
          },
        ]"
      >
        <div class="row d-flex align-items-center">
          <div class="col-12 col-lg-6">
            <h2 class="mb-0 fw-bold">Jadwal Futsal</h2>
          </div>
          <div class="col-12 col-lg-6 mt-lg-0 mt-3">
            <div class="d-flex gap-2 d-md-flex justify-content-md-end">
              <router-link :to="{ name: 'jadwal.create' }">
                <button class="btn btn-rounded btn-primary">Create</button>
              </router-link>
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-12">
             <data-table
              :fields="fields"
              :url="'/api/jadwal/futsal'"
              :param='{
                date: filterParam.date
              }'
              :refresh="refresh"
              :isFilter="true"
              :filterForm="filterForm"
              :filterSet="filterSet"
              :filterGet="filterGet"
            >
              <template #action="action">
                <b-dropdown id="dropdown-1" text="Action" variant="white">
                  <template v-if="user.user.level == 2">
                    <b-dropdown-item  @click="riwayatTidaklanjut(action)">Tindak Lanjut</b-dropdown-item>
                  </template>
                  <template v-else>
                    <b-dropdown-item  @click="editData(action)">Edit</b-dropdown-item>
                    <b-dropdown-item @click="cancelData(action)">Batalkan</b-dropdown-item>
                  </template>
                </b-dropdown>
              </template>
            </data-table>
          </div>
        </div>
      </card-page>
    </div>
  </div>
</template>

<script>
import CardPage from "../../components/CardPage.vue";
import DataTable from "../../components/DataTable.vue";
import Calendar from "../../components/Calendar.vue";
import XLSX from "xlsx";
import axios from "axios";
import { mapGetters } from "vuex";
import moment from 'moment';

export default {
  metaInfo() {
    return { title: this.$t("Jadwal") };
  },

  computed: {
    ...mapGetters({
      user: "auth/user",
    }),
  },

  components: {
    CardPage,
    DataTable,
    Calendar
  },

  props: {
    multiNav: {
      type: Array,
      default: () => [],
    },
  },

  data() {
    const now = moment().format('YYYY-MM-DD');
    return {
      filterParam:{
        date: now
      },
      filterForm: [
        {
          key: "date",
          label: "Tanggal",
          type: "date",
        },
      ],
      fields: [
        {
          label: "Jam",
          key: "title",
          sortable: true,
        },
        {
          label: "Status",
          key: "description",
          sortable: true,
        },
        {
          label: "Keterangan",
          key: "keterangan",
          sortable: true,
        },
        {
          label: "Aksi",
          key: "action",
          tdAttr: {
            style: "width: 15%",
          },
          sortable: true,
        },
      ],
      refresh: 0,
      loadingExport: false,
      dataexport: {
        triwulan1: [],
        triwulan2: [],
        triwulan3: [],
        triwulan4: [],
      },
    };
  },

  methods: {
    cancelData(data) {
      // console.log(data)
      this.$swal({
        title: "Are you sure to cancel this booking?",
        icon: "warning",
        buttons: true,
        dangerMode: true,
      }).then((willDelete) => {
        if (willDelete) {
          axios.post(`/api/order/cancelgedung/${data.action.item.id}`).then((e) => {
            swal("Success cancelling the booking!", {
              icon: "success",
            }).then((ok) => {
              this.refresh += 1;
            });
          });
        } else {
          swal("Cancelled!");
        }
      });
    },
    editData(data) {
      this.$router.push({
        name: "jadwal.update",
        params: { id: data.action.item.id },
      });
    },
    deleteData(data) {
      this.$swal({
        title: "Are you sure to delete this data?",
        text: "Once deleted, you will not be able to recover this data!",
        icon: "warning",
        buttons: true,
        dangerMode: true,
      }).then((willDelete) => {
        if (willDelete) {
          axios.delete(`/api/jadwal/${data.action.item.id}`).then((e) => {
            swal("Success delete data!", {
              icon: "success",
            }).then((ok) => {
              this.refresh += 1;
            });
          });
        } else {
          swal("Cancelled!");
        }
      });
    },
    filterSet(field, value) {
      this.filterParam[field] = value;
    },
    filterGet(field) {
      return this.filterParam[field] ? this.filterParam[field] : "";
    },
  },
};
</script>
