<template>
  <div class="row">
    <div class="col-12">
      <card-form :title="title">
        <form-builder
          :set-param="setParams"
          :get-param="getParams"
          :field="fields"
        />
        <div class="row">
          <div class="col-12">
            <hr>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <button class="btn btn-primary" @click="save">
                {{ "Save" }}
              </button>
            </div>
          </div>
        </div>
      </card-form>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import CardForm from '../../components/CardForm.vue'
import FormBuilder from '../../components/FormBuilder.vue'

export default {
  components: {
    CardForm,
    FormBuilder
  },

  metaInfo () {
    return { title: this.$t('Create_a_new_branch') }
  },

  data: function () {
    return {
      fields: [
        {
          key: 'name',
          label: 'Name',
          type: 'text',
          required: true,
          col: 'col-12 col-lg-6'
        }
      ],
      params: {
        name: null
      }
    }
  },

  computed: {
    hasID () {
      return !isNaN(this.$route.params.id)
    },
    title () {
      if (!isNaN(this.$route.params.id)) {
        return 'Edit Subject'
      } else {
        return 'Create Subject'
      }
    }
  },

  async created () {
    if (!isNaN(this.$route.params.id)) {
      this.getData()
    }
  },

  methods: {
    async getData () {
      await axios.get(`/api/admin/subjects/${this.$route.params.id}`).then(res => {
        console.log(res)
        this.params.name = res.data.data.name
      }).catch(err => {
        console.log(err)
      })
    },

    async save () {
      if (!isNaN(this.$route.params.id)) {
        await axios.patch(`/api/admin/subjects/${this.$route.params.id}`, this.params).then(res => {
          this.$router.go(-1)
        }).catch(err => {
          console.log(err)
        })
      } else {
        await axios.post('/api/admin/subjects', this.params).then(res => {
          this.$router.go(-1)
        }).catch(err => {
          console.log(err)
        })
      }
    },

    setParams (field, value) {
      this.params[field] = value
    },

    getParams (field) {
      return this.params[field] ? this.params[field] : ''
    }
  }
}
</script>
