<template>
  <div class="row">
    <div class="col-12">
      <card-form :title="title">
        <form-builder
          :set-param="setParam"
          :get-param="getParam"
          :field="fields"
        />
        <div class="row">
          <div class="col-12">
            <hr />
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <v-button class="btn" background="#0FB0F8" @click="save">
                {{ "Save" }}
              </v-button>
            </div>
          </div>
        </div>
      </card-form>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import CardForm from "../../components/CardForm.vue";
import FormBuilder from "../../components/FormBuilder.vue";
import { mapGetters } from "vuex";

export default {
  components: {
    CardForm,
    FormBuilder,
  },

  metaInfo() {
    return { title: "Create Order" };
  },

  data: function () {
    return {
      dataUser: [],
      fields: [
        {
          key: "nama_perusahaan",
          label: "Nama Perusahaan",
          type: "text",
          required: true,
          col: "col-12 col-lg-6",
        },
        {
          key: "no_pendaftaran",
          label: "Nomor Pendaftaran",
          type: "text",
          required: true,
          col: "col-12 col-lg-6",
        },
        {
          key: "alamat",
          label: "Alamat Perusahaan",
          type: "text",
          required: true,
          col: "col-12 col-lg-12",
        },
        {
          key: "nama_pic",
          label: "Nama PIC",
          type: "text",
          required: true,
          col: "col-12 col-lg-6",
        },
        {
          key: "nohp_pic",
          label: "No. HP PIC",
          type: "text",
          required: true,
          col: "col-12 col-lg-6",
        },
        {
          key: "petugas_pemeriksa",
          label: "Nama Petugas",
          type: "select2",
          options: this.getUser(),
          required: false,
          col: "col-12 col-lg-6",
        },
        {
          key: "status",
          label: "Status",
          type: "select2",
          options: [
            {
              id: "Belum Patuh",
              text: "Belum Patuh",
            },
            {
              id: "Sudah Patuh",
              text: "Sudah Patuh",
            },
            {
              id: "Mencicil",
              text: "Mencicil",
            },
            {
              id: "Tidak ada respon",
              text: "Tidak ada respon",
            },
          ],
          required: true,
          col: "col-12 col-lg-6",
        },
        {
          key: "jenis_ketidakpatuhan",
          label: "Ketidakpatuhan",
          type: "select2",
          options: [
            {
              id: "Tidak Ada",
              text: "Tidak Ada", //muncul utang
            },
            {
              id: "Piutang",
              text: "Piutang", //muncul utang
            },
            {
              id: "PDSTK",
              text: "PDS TK", //muncul potensi tk
            },
            {
              id: "PDSUPAH",
              text: "PDS UPAH", //muncul potensi upah
            },
            {
              id: "PDSPROGRAM",
              text: "PDS PROGRAM",
            },
          ],
          required: true,
          col: "col-12 col-lg-6",
        },
        {
          key: "nilai_ketidakpatuhan",
          label: "Nilai Ketidakpatuhan",
          type: "text",
          required: false,
          col: "col-12 col-lg-6",
        },
      ],
      params: {},
    };
  },

  computed: {
    ...mapGetters({
      user: "auth/user",
    }),
    hasID() {
      return !isNaN(this.$route.params.id);
    },
    title() {
      if (!isNaN(this.$route.params.id)) {
        return "Edit Perusahaan";
      } else {
        return "Create Perusahaan";
      }
    },
  },

  async created() {
    axios.get("/api/users/select").then((e) => {
      this.fields[5].options = e.data;
      console.log(this.dataUser);
    });
    if (!isNaN(this.$route.params.id)) {
      this.getData();
    }
    console.log(this.user);
    if (this.user.user.level == 3) {
      this.params["petugas_pemeriksa"] = this.user.user.nip;
      this.fields[5].hidden = true;
    }
  },

  methods: {
    getUser() {
      return this.dataUser;
    },

    async getData() {
      await axios
        .get(`/api/perusahaan/${this.$route.params.id}`)
        .then((res) => {
          this.params = {
            nama_perusahaan: res.data.data.nama_perusahaan,
            alamat: res.data.data.alamat,
            no_pendaftaran: res.data.data.no_pendaftaran,
            alamat: res.data.data.alamat,
            nama_pic: res.data.data.nama_pic,
            nohp_pic: res.data.data.nohp_pic,
            status: res.data.data.status,
            jenis_ketidakpatuhan: res.data.data.jenis_ketidakpatuhan,
            nilai_ketidakpatuhan: res.data.data.nilai_ketidakpatuhan,
            petugas_pemeriksa: res.data.data.nip_user,
          };
          console.log(this.params);
        })
        .catch((err) => {
          console.log(err);
        });
    },

    async save() {
      if (!isNaN(this.$route.params.id)) {
        await axios
          .patch(`/api/perusahaan/${this.$route.params.id}`, this.params)
          .then((res) => {
            this.$router.go(-1);
          })
          .catch((err) => {
            console.log(err);
          });
      } else {
        console.log(this.param);
        await axios
          .post("/api/perusahaan", this.params)
          .then((res) => {
            this.$router.go(-1);
          })
          .catch((err) => {
            console.log(err);
          });
      }
    },

    setParam(field, value) {
      this.params[field] = value;
    },

    getParam(field) {
      return this.params[field] ? this.params[field] : "";
    },
  },
};
</script>
