<template>
  <div class="row">
    <div class="col-12">
      <card-page 
      :multiNav="[
          {
            name: 'Futsal',
            pageName: 'setting.futsal'
          },
           {
            name: 'Tenis',
            pageName: 'setting.tenis'
          },
           {
            name: 'Clubhouse',
            pageName: 'setting.club'
          },
           {
            name: 'Gedung',
            pageName: 'setting.gedung'
          },
        ]">
        <div class="row d-flex align-items-center mb-4">
          <div class="col-12 col-lg-12">
            <h2 class="mb-0 fw-bold">Futsal</h2>
          </div>
        </div>
        <form-builder
          :set-param="setParam"
          :get-param="getParam"
          :field="fields"
        />
        <div class="row">
          <div class="col-12">
            <hr />
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <v-button class="btn" background="#0FB0F8" @click="save">
                {{ "Save" }}
              </v-button>
            </div>
          </div>
        </div>
      </card-page>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import CardForm from "../../components/CardForm.vue";
import FormBuilder from "../../components/FormBuilder.vue";
import CardPage from "../../components/CardPage.vue";

export default {
  components: {
    CardForm,
    FormBuilder,
    CardPage,
  },

  metaInfo() {
    return { title: "Pengaturan Futsal" };
  },

  data: function () {
    return {
      fields: [
        {
          key: "harga_internal_siang",
          label: "Harga Internal Siang ",
          type: "number",
          required: true,
          col: "col-12 col-lg-6",
        },
        {
          key: "harga_internal_sore",
          label: "Harga Internal Sore",
          type: "number",
          required: true,
          col: "col-12 col-lg-6",
        },
         {
          key: "harga_eksternal_siang",
          label: "Harga Eksternal Siang ",
          type: "number",
          required: true,
          col: "col-12 col-lg-6",
        },
        {
          key: "harga_eksternal_sore",
          label: "Harga Eksternal Sore",
          type: "number",
          required: true,
          col: "col-12 col-lg-6",
        },
         {
          key: "harga_internal_turnamen",
          label: "Harga Internal Turnamen ",
          type: "number",
          required: true,
          col: "col-12 col-lg-6",
        },
        {
          key: "harga_eksternal_turnamen",
          label: "Harga Eksternal Turnamen",
          type: "number",
          required: true,
          col: "col-12 col-lg-6",
        },
      ],
      params: {},
      nip: null,
      id: null,
    };
  },

  computed: {
    hasID() {
      return !isNaN(this.$route.params.id);
    },
    title() {
      if (!isNaN(this.$route.params.id)) {
        return "Edit User";
      } else {
        return "Create User";
      }
    },
  },

  async created() {
    this.getData();
  },

  methods: {
    async getData() {
      await axios
        .get(`/api/setting/futsal`)
        .then((res) => {
          this.params = {
            ...res.data.data
          };
          this.id = res.data.data.id;
        })
        .catch((err) => {
          console.log(err);
        });
    },

    async save() {
      await axios
        .patch(`/api/setting/futsal/${this.id}`, {
          ...this.params,
        })
        .then((res) => {
          swal("Success updated data!", {
            icon: "success",
          }).then((ok) => {
            this.refresh += 1;
          });
        })
        .catch((err) => {
          console.log(err);
        });
    },

    setParam(field, value) {
      this.params[field] = value;
    },

    getParam(field) {
      return this.params[field] ? this.params[field] : "";
    },
  },
};
</script>
