<template>
  <div class="row">
    <div class="col-12">
      <card-form :title="title" :submit="save">
        <form-builder
          :set-param="setParam"
          :get-param="getParam"
          :field="fields"
        />
        <div class="row">
          <div class="col-12">
            <hr />
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
             <button type="submit" class="btn btn-primary" >
                {{ "Save" }}
              </button>
            </div>
          </div>
        </div>
      </card-form>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import CardForm from "../../components/CardForm.vue";
import FormBuilder from "../../components/FormBuilder.vue";
import { mapGetters } from "vuex";

export default {
  components: {
    CardForm,
    FormBuilder,
  },

  metaInfo() {
    return { title: "Create Makanan" };
  },

  data: function () {
    return {
      dataUser: [],
      fields: [
        {
          key: "image",
          label: "Gambar",
          type: "imageupload",
          required: true,
          col: "col-12 col-lg-4",
        },
        {
          key: "name",
          label: "Nama",
          type: "text",
          required: true,
          col: "col-12 col-lg-4",
        },
        {
          key: "price",
          label: "Harga",
          type: "number",
          required: true,
          col: "col-12 col-lg-4",
        },
        {
          key: "description",
          label: "Deskripsi",
          type: "textarea",
          required: true,
          col: "col-12 col-lg-12",
        },
        
        
      ],
      params: {
        image: '/images/default.png'
      },
    };
  },

  computed: {
    ...mapGetters({
      user: "auth/user",
    }),
    hasID() {
      return !isNaN(this.$route.params.id);
    },
    title() {
      if (!isNaN(this.$route.params.id)) {
        return "Edit Makanan";
      } else {
        return "Create Makanan";
      }
    },
  },

  async created() {
    if (!isNaN(this.$route.params.id)) {
      this.getData();
    }
  },

  methods: {
    getUser() {
      return this.dataUser;
    },

    async getData() {
      await axios
        .get(`/api/makanan/${this.$route.params.id}`)
        .then((res) => {
          this.params = {
            name: res.data.data.name,
            description: res.data.data.description,
            image: res.data.data.image,
            price: res.data.data.price,
          };
          console.log(this.params);
        })
        .catch((err) => {
          console.log(err);
        });
    },

    async save() {
      if (!isNaN(this.$route.params.id)) {
        await axios
          .patch(`/api/makanan/${this.$route.params.id}`, this.params)
          .then((res) => {
            this.$router.go(-1);
          })
          .catch((err) => {
            console.log(err);
          });
      } else {
        console.log(this.param);
        await axios
          .post("/api/makanan", this.params)
          .then((res) => {
            this.$router.go(-1);
          })
          .catch((err) => {
            console.log(err);
          });
      }
    },

    setParam(field, value) {
      this.params[field] = value;
    },

    getParam(field) {
      return this.params[field] ? this.params[field] : "";
    },
  },
};
</script>
