<template>
  <!-- TODO: Use localization key -->
  <div class="row">
    <div class="col-12">
      <card-page>
        <div class="row d-flex align-items-center">
          <div class="col-12 col-lg-6">
            <h2 class="mb-0 fw-bold">Makanan</h2>
          </div>
          <div class="col-12 col-lg-6 mt-lg-0 mt-3">
            <div class="d-flex gap-2 d-md-flex justify-content-md-end">

              <router-link :to="{ name: 'makanan.create' }">
                <button class="btn btn-rounded btn-primary">Create</button>
              </router-link>
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-12">
            <data-table
              :fields="fields"
              :url="'/api/makanan'"
              :refresh="refresh"
            >
              <template #action="action">
                <b-dropdown id="dropdown-1" text="Action" variant="white">
                  <template >
                    <b-dropdown-item @click="editData(action)"
                      >Edit</b-dropdown-item
                    >
                    <b-dropdown-item @click="deleteData(action)"
                      >Delete</b-dropdown-item
                    >
                  </template>
                </b-dropdown>
              </template>
            </data-table>
          </div>
        </div>
      </card-page>
    </div>
  </div>
</template>

<script>
import CardPage from "../../components/CardPage.vue";
import DataTable from "../../components/DataTable.vue";
import XLSX from "xlsx";
import axios from "axios";
import { mapGetters } from "vuex";

export default {
  metaInfo() {
    return { title: this.$t("Makanan") };
  },

  computed: {
    ...mapGetters({
      user: "auth/user",
    }),
  },

  components: {
    CardPage,
    DataTable,
  },

  props: {
    multiNav: {
      type: Array,
      default: () => [],
    },
  },

  data() {
    return {
      fields: [
        {
          label: "Nama",
          key: "name",
          sortable: true,
        },
        {
          label: "Harga",
          key: "price",
          sortable: true,
        },
        {
          label: "Aksi",
          key: "action",
          tdAttr: {
            style: "width: 15%",
          },
          sortable: true,
        },
      ],
      refresh: 0,
      loadingExport: false,
      dataexport: {
        triwulan1: [],
        triwulan2: [],
        triwulan3: [],
        triwulan4: [],
      },
    };
  },

  methods: {
    editData(data) {
      this.$router.push({
        name: "makanan.update",
        params: { id: data.action.item.id },
      });
    },
    deleteData(data) {
      this.$swal({
        title: "Are you sure to delete this data?",
        text: "Once deleted, you will not be able to recover this data!",
        icon: "warning",
        buttons: true,
        dangerMode: true,
      }).then((willDelete) => {
        if (willDelete) {
          axios.delete(`/api/makanan/${data.action.item.id}`).then((e) => {
            swal("Success delete data!", {
              icon: "success",
            }).then((ok) => {
              this.refresh += 1;
            });
          });
        } else {
          swal("Cancelled!");
        }
      });
    },
  },
};
</script>
