<template>
  <div class="main-layout">
    <!-- <div id="splashscreen" class="bg-primary" style="background:linear-gradient(25.94deg, #173656 13.71%, #2776C7 112.19%);">
        <div class="logo-splash text-center">
            <div class="spinner-border text-white mt-5" role="status" style="width:3rem;height:3rem">
                <span class="sr-only">Loading...</span>
            </div>
            <p class="text-white mt-3">Processing data, please wait...</p>
            
        </div>
    </div> -->
    <sidebar />
    <topbar />
    
    <div class="main-content" >
      <div class="container-fluid">
        <child />
      </div>
      <div id="logout-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <div class="row">
                <div class="col-12">
                  <h3>Are you sure to logout ?</h3>
                </div>
                <div class="col-12 text-right mt-3">
                  <button class="btn btn-danger" data-bs-dismiss="modal" @click="logout()">
                    Logout
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Sidebar from '../components/Sidebar/Sidebar.vue'
import Topbar from '../components/Topbar.vue'

export default {
  name: 'MainLayout',
  middleware:'guest',
  components: {
    Sidebar,
    Topbar
  },

  methods: {
    async logout () {
      // Log out the user.
      await this.$store.dispatch('auth/logout')

      // Redirect to login.
      this.$router.push({ path: '/' })
    }
  }
}
</script>

<style scoped>
#splashscreen {
    position: fixed;
    height: 100%;
    width: 100%;
    /* background-color: white; */
    z-index: 99999;
    opacity: 0.5;
}

.logo-splash {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
</style>
