<template>
  <li class="nav-item">
    <router-link class="nav-link" :to="url">
      <i :class="iconClass" /> {{ text }}
    </router-link>
  </li>
</template>

<script>
export default {
  name: 'SidebarButton',
  props: {
    text: {
      type: String,
      required: true
    },
    url: {
      type: [String, Object],
      required: true
    },
    iconClass: {
      type: String,
      required: true
    }
  }
}
</script>

<style scoped>
.navbar-nav .nav-link>.fe{
  font-size: 1.5rem;
  margin-right: 10px;
  font-weight:500;
}
.nav-link.active::before {
  border: none !important;;
}
.nav-link.active {
  background: linear-gradient(30deg, rgb(59 171 71), rgb(34 109 168));
  color:white!important;
}
.navbar-vertical.navbar-expand-md .navbar-nav .nav-link {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 10px;
}
</style>
