<template>
  <nav
    class="
      navbar navbar-vertical
      fixed-start
      navbar-expand-md navbar-light
      d-none d-md-block
    "
  >
    <div class="container-fluid">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarToggler"
        aria-controls="navbarToggler"
        aria-expanded="false"
      >
        <span class="navbar-toggler-icon" />
      </button>

      <div id="navbarToggler" class="collapse navbar-collapse mt-4">
        <ul class="navbar-nav">
          <sidebar-button
            text="Dashboard"
            url="/home"
            icon-class="fe fe-bar-chart"
          />

        </ul>
         <hr class="navbar-divider my-3" />
        <ul class="navbar-nav">
           <sidebar-button
            text="Order"
            :url="{ path: '/order' }"
            icon-class="fe fe-shopping-cart"
          />

        </ul>
        <hr class="navbar-divider my-3" />
        <ul class="navbar-nav">
           <sidebar-button
            text="Produk"
            :url="{ path: '/produk' }"
            icon-class="fe fe-archive"
          />
           <sidebar-button
            text="Makanan"
            :url="{ path: '/makanan' }"
            icon-class="fe fe-archive"
          />
          <sidebar-button
            text="Promo"
            :url="{ path: '/promo' }"
            icon-class="fe fe-archive"
          />
        </ul>
        <hr class="navbar-divider my-3" />
        <ul class="navbar-nav">
            <sidebar-button
            text="Jadwal"
            :url="{ path: '/jadwal' }"
            icon-class="fe fe-calendar"
          />
           <sidebar-button
            text="Pengaturan"
            :url="{ path: '/setting' }"
            icon-class="fe fe-settings"
          />
          <sidebar-button
            text="Riwayat"
            :url="{ path: '/riwayat' }"
            icon-class="fe fe-settings"
          />

        </ul>
         <hr class="navbar-divider my-3" />
        <ul class="navbar-nav">
           <sidebar-button
            text="User"
            :url="{ path: '/users/users' }"
            icon-class="fe fe-users"
            v-if="user.user.level == 0"
          />
           <sidebar-button
            text="Dosen/Tenaga Pendidikan"
            :url="{ path: '/users/dosen' }"
            icon-class="fe fe-users"
            v-if="user.user.level == 0"
          />
           <sidebar-button
            text="Mahasiswa"
            :url="{ path: '/users/mahasiswa' }"
            icon-class="fe fe-users"
            v-if="user.user.level == 0"
          />
        </ul>
        <hr class="navbar-divider my-3" />
        <ul class="navbar-nav">
          <sidebar-button
            text="Akun"
            :url="{ path: '/account' }"
            icon-class="fe fe-user"
          />
        </ul>
        <hr class="navbar-divider my-3" />
        <ul class="navbar-nav">
          <li class="nav-item">
            <a
              class="nav-link"
              href="#"
              data-bs-toggle="modal"
              data-bs-target="#logout-modal"
              style="margin-left: 10px; margin-right: 10px"
            >
              <i
                class="fe fe-log-out"
                style="font-size: 1.5rem; margin-right: 10px; color: #0fb0f8"
              /><span class="fw-bold" style="color: #0fb0f8">Logout</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</template>

<script>
import { mapGetters } from "vuex";
import SidebarButton from "./SidebarButton.vue";

export default {
  components: {
    "sidebar-button": SidebarButton,
  },

  data: () => ({
    appName: window.config.appName,
  }),

  computed: mapGetters({
    user: "auth/user",
  }),

  methods: {
    async logout() {
      // Log out the user.
      await this.$store.dispatch("auth/logout");

      // Redirect to login.
      this.$router.push({ name: "login" });
    },
  },
};
</script>

<style scoped>
.navbar {
  background-color: white;
}

.navbar-vertical.navbar-expand-md {
  top: 63px;
}

.navbar-brand {
  margin-bottom: 10px;
}
.nav-link {
  color: #312675 !important;
  font-weight: 500;
}
.profile-photo {
  width: 2rem;
  height: 2rem;
  margin: -0.375rem 0;
}
.btn-outlet {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  background: #3073b9, 100%;
  color: white;
}
.p-small {
  font-size: 14pt;
  font-weight: bold;
}
.p-outlet {
  font-size: 16pt;
}
</style>
