<template>
  <div class="container-fluid  bg-login">
    <div class="container">
      <div class="row pt-4">
        <div class="col-lg-12 text-center py-6">
          <img class="img-fluid" src="/images/landscape-logo-light.png" style="width:20%">
        </div>
        <div class="col-lg-5 m-auto">
          <div class="card">
            <div class="card-body">
              <form @submit.prevent="login" @keydown="form.onKeydown($event)">
                <!-- Email -->
                <div class="mb-3 row">
                  <div class="col-md-12">
                    <custom-label class="pb-2" text="Email" />
                    <text-input
                      v-model="form.email"
                      label-name="email"
                      name="username"
                      placeholder="please enter your email or username"
                      :invalid="form.errors.has('email')"
                      type="text"
                      class="mb-3"
                    />
                    <has-error :form="form" field="email" />

                    <custom-label class="pb-2" text="Password" />
                    <text-input
                      v-model="form.password"
                      label-name="password"
                      name="password"
                      placeholder="please enter your password"
                      :invalid="form.errors.has('password')"
                      type="password"
                    />
                    <has-error :form="form" field="password" />
                  </div>
                </div>

                <!-- Textarea -->
                <!-- <div class="mb-3 row">
                  <div class="col-md-12">
                    <textarea-input label-name="Feedback" name="textarea"></textarea-input>
                  </div>
                </div> -->

                <!-- Dropdown -->
                <!-- <div class="mb-3 row">
                  <div class="col-md-12">
                    <dropdown label-name="Dropdown" :values="['Ryan', 'Aldi', 'Hartawan']" :links="['ryan.html', 'aldi.html', 'hartawan.html']"></dropdown>
                  </div>
                </div> -->

                <!-- Number Input -->
                <!-- <div class="mb-3 row">
                  <div class="col-md-12">
                    <number-input label-name="Number" name="number" placeholder="number input"></number-input>
                  </div>
                </div> -->

                <!-- Remember Me -->
                <div class="mb-3 row">
                  <div class="col-md-12 d-flex">
                    <!-- <checkbox v-model="remember" name="remember">
                      {{ $t('remember_me') }}
                    </checkbox> -->
                    <checkboxes v-model="remember" name="remember">
                      {{ $t('remember_me') }}
                    </checkboxes>

                    <router-link :to="{ name: 'password.request' }" class="small ms-auto my-auto">
                      {{ $t('forgot_password') }}
                    </router-link>
                  </div>
                </div>

                <div class="my-5 row ">
                  <div class=" col-12 float-right">
                    <!-- Submit Button -->
                    <div class="d-grid gap-2">
                      <button class="btn btn-lg  btn-primary ">
                        {{ $t('login') }}
                      </button>
                    </div>
                  <!-- <v-button :loading="form.busy" block >

                  </v-button> -->
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Form from 'vform'
import Cookies from 'js-cookie'
import CustomLabel from '../../components/CustomLabel.vue'

export default {

  components: {
    CustomLabel
  },

  layout: 'blank',

  middleware: 'guest',

  metaInfo () {
    return { title: this.$t('login') }
  },

  data: () => ({
    form: new Form({
      email: '',
      password: '',
      phone: ''
    }),
    remember: false
  }),

  methods: {
    async login () {
      // Submit the form.
      const { data } = await this.form.post('/api/loginweb')

      // Save the token.
      this.$store.dispatch('auth/saveToken', {
        token: data.token,
        remember: this.remember
      })

      // Fetch the user.
      await this.$store.dispatch('auth/fetchUser')

      // Redirect home.
      this.redirect()
    },
    redirect () {
      const intendedUrl = Cookies.get('intended_url')

      if (intendedUrl) {
        Cookies.remove('intended_url')
        this.$router.push({ path: intendedUrl })
      } else {
        this.$router.push({ name: 'home' })
      }
    }
  }
}
</script>

<style scoped>
.bg-login{
  background: linear-gradient(0deg, rgb(59 171 71), rgb(34 109 168)), url("/images/bg-login.jpg");
  min-height: 100vh;
  background-size:cover;
  background-blend-mode: multiply;
}
</style>
